﻿@{
    var person = (ETC.Structures.Models.PersonSession)Session["Person"];
}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8">

    <title>EducaStore</title>

    <!-- Google Analytics -->
    @*@Html.Partial("_GoogleAnalytics")*@

    <meta name="description" content="FlatApp is a Premium, Responsive and Flat Bootstrap Admin Dashboard Template created by pixelcave and published on Themeforest.">
    <meta name="author" content="pixelcave">
    <meta name="robots" content="noindex, nofollow">

    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0">

    <!-- Icons -->
    <!-- The following icons can be replaced with your own, they are used by desktop and mobile browsers -->
    <link rel="shortcut icon" href="@Url.Content("~/Images/faviconEducatablet.png")">
    <link rel="apple-touch-icon" href="img/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="57x57" href="img/apple-touch-icon-57x57-precomposed.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="img/apple-touch-icon-precomposed.png">
    <!-- END Icons -->

    <!-- Stylesheets -->

    <!-- The Open Sans font is included from Google Web Fonts -->
    @*<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,700,700italic">*@

    <!-- Render all the flatapp template essentials css -->
    @Styles.Render("~/Content/flatapp/css")
    <!-- Render all css control jquery-ui-1.10.4 -->
    @Styles.Render("~/Content/themes/base/jquery-ui-1.10.4.css")

    <!-- Load a specific file here from css/themes/ folder to alter the default theme of all the template -->
    <link rel="stylesheet" href="@Url.Content("~/Content/flatapp/themes/educatablet.css")">

    <!-- The themes stylesheet of this template (for using specific theme color in individual elements (must included last) -->
    <link rel="stylesheet" href="@Url.Content("~/Content/flatapp/themes.css")">

    <link rel="stylesheet" href="~/Content/layoutcustom.css">
    <!-- END Stylesheets -->

    <!-- Modernizr (Browser feature detection library) & Respond.js (Enable responsive CSS code on browsers that don't support it) -->
    @*@Scripts.Render("~/Scripts/flatapp/modernizr")*@
    <!-- Minified javascript could not be included thru bundles -->
    <script src="@Url.Content("~/Scripts/flatapp/vendor/modernizr-2.6.2-respond-1.1.0.min.js")"></script>
</head>
<!-- Body -->
<!-- In the PHP version you can set the following options from the config file -->
<!-- Add the class .hide-side-content to <body> to hide side content by default -->
<body>
    <!-- Page Container -->
    <!-- In the PHP version you can set the following options from the config file -->
    <!-- Add the class .full-width for a full width page -->
    <div id="page-container" class="full-width" style="max-width: none;">
        <!-- Header -->
        <!-- In the PHP version you can set the following options from the config file -->
        <!-- Add the class .navbar-fixed-top or .navbar-fixed-bottom for a fixed header on top or bottom respectively -->
        <!-- If you add the class .navbar-fixed-top remember to add the class .header-fixed-top to <body> element! -->
        <!-- If you add the class .navbar-fixed-bottom remember to add the class .header-fixed-bottom to <body> element! -->
        <!-- <header class="navbar navbar-inverse navbar-fixed-top"> -->
        <!-- <header class="navbar navbar-inverse navbar-fixed-bottom"> -->
        <header class="navbar navbar-inverse visible-phone visible-tablet">
            <!-- Navbar Inner -->
            <div class="navbar-inner">
                <!-- div#row-fluid -->
                <div class="row-fluid">
                    <!-- Sidebar Toggle Buttons (Desktop & Tablet) -->
                    <div class="span4 hidden-phone">
                        <ul class="nav pull-left">
                            <!-- Desktop Button (Visible only on desktop resolutions) -->
                            <li class="visible-desktop">
                                <a href="javascript:void(0)" id="toggle-side-content">
                                    <i class="icon-reorder"></i>
                                </a>
                            </li>
                            <!-- END Desktop Button -->

                            <!-- Tablet Button -->
                            <li class="visible-tablet">
                                <!-- It is set to open and close the left sidebar on tablets. The class .nav-collapse was added to aside#page-sidebar -->
                                <a href="javascript:void(0)" data-toggle="collapse" data-target=".nav-collapse">
                                    <i class="icon-reorder"></i>
                                </a>
                            </li>
                            <!-- END Tablet Button -->

                            <!-- Divider -->
                            <li class="divider-vertical remove-margin"></li>
                        </ul>
                    </div>
                    <!-- END Sidebar Toggle Buttons -->

                    <!-- Brand and Search Section -->
                    <div class="span4 text-center">
                        <!-- Top search -->
                        @*<form id="top-search" class="pull-left" action="page_ready_search_results.html" method="post">
              <input type="text" id="search-term" name="search-term" placeholder="Search..">
            </form>*@
                        <!-- END Top search -->

                        <!-- Logo -->
                        @*<a href="index.html" class="brand">
              <img src="img/template/logo.png" alt="logo">
            </a>*@
                        <!-- END Logo -->

                        <!-- Loading Indicator, Used for demostrating how loading of notifications could happen, check main.js - uiDemo() -->
                        <div id="loading" class="hide"><i class="icon-spinner icon-spin"></i></div>
                    </div>
                    <!-- END Brand and Search Section -->

                    <!-- Header Nav Section -->
                    <div id="header-nav-section" class="span4 clearfix">
                        <!-- Header Nav -->
                        <ul class="nav pull-right">

                            <!-- Divider -->
                            <li class="divider-vertical remove-margin"></li>
                        </ul>
                        <!-- END Header Nav -->

                        <!-- Mobile Navigation, Shows up on mobile -->
                        <ul class="nav pull-left visible-phone">
                            <li>
                                <!-- It is set to open and close the main navigation on mobiles. The class .nav-collapse was added to aside#page-sidebar -->
                                <a href="javascript:void(0)" data-toggle="collapse" data-target=".nav-collapse">
                                    <i class="icon-reorder"></i>
                                </a>
                            </li>
                            <li class="divider-vertical remove-margin"></li>
                        </ul>
                        <!-- END Mobile Navigation, Shows up on mobile -->
                    </div>
                    <!-- END Header Nav Section -->
                </div>
                <!-- END div#row-fluid -->
            </div>
            <!-- END Navbar Inner -->
        </header>
        <!-- END Header -->

        <!-- Left Sidebar -->
        <!-- In the PHP version you can set the following options from the config file -->
        <!-- Add the class .sticky for a sticky sidebar -->
        <aside id="page-sidebar" class="nav-collapse collapse">
            <!--
                Wrapper for scrolling functionality
                Used only if the .sticky class added above. You can remove it and you will have a sticky sidebar
                without scrolling enabled when you set the sidebar to be sticky
                -->
            <div class="side-scrollable">
                <!-- Mini Profile -->
                <div class="mini-profile">
                    @*<div class="mini-profile-options">
            <a href="javascript:void(0)" class="badge badge-info loading-on" data-toggle="tooltip" data-placement="right" title="Refresh">
              <i class="icon-refresh"></i>
            </a>
            <a href="page_ready_shopping_cart.html" class="badge badge-warning" data-toggle="tooltip" data-placement="right" title="6 Products">
              <i class="glyphicon-shopping_cart"></i>
            </a>
            <!-- Modal div is at the bottom of the page before including javascript code, we use .enable-tooltip class for the tooltip because data-toggle is used for modal -->
            <a href="#modal-user-account" class="badge badge-success enable-tooltip" role="button" data-toggle="modal" data-placement="right" title="Settings">
              <i class="glyphicon-cogwheel"></i>
            </a>
            <a href="page_login.html" class="badge badge-important" data-toggle="tooltip" data-placement="right" title="Log out">
              <i class="icon-signout"></i>
            </a>
          </div>*@

                    @*<img src="img/template/avatar2.jpg" alt="Avatar" class="img-circle">*@
                    <img src='@Url.Content("~/Images/logo.png")' style="width: 139px; height: 80px "/>

                </div>
                <!-- END Mini Profile -->

                <!-- Sidebar Tabs -->
                <div class="sidebar-tabs-con">

                    <div class="tab-content">
                        <div class="tab-pane active" id="side-tab-menu">
                            <!-- Primary Navigation -->
                            <nav id="primary-nav">
                                <ul>
                                    <li>
                                        <a href='/myaccount/profile/index'><i class="glyphicon-home"></i>Página Principal</a>
                                    </li>
                                    <li>
                                        <a href='/myaccount/profile/accountsettings'><i class="glyphicon-cogwheel"></i>Configuración de usuario</a>
                                    </li>
                                    <li>
                                        <a href='/myaccount/order/purchaseslist'><i class="icon-copy"></i>Órdenes de Compra</a>
                                    </li>
                                    @{
                                        if (person.roles.ContainsKey("EducaDesk"))
                                        {
                                            if (person.roles["EducaDesk"].Contains("TEACHER") || person.roles["EducaDesk"].Contains("STUDENT"))
                                            {
                                        <li>

                                            <a href="/webStore"><i class="glyphicon-shopping_cart"></i>EducaStore</a>

                                        </li>
                                            }
                                        }                                   
                                    }

                                    @{
                                        if (person.roles.ContainsKey("EducaDesk"))
                                        {
                                            if (person.roles["EducaDesk"].Contains("TEACHER"))
                                            {
                                        <li>
                                            <a href="/webWall"><i class="glyphicon-more_windows"></i>Panel de Profesores</a>
                                        </li>
                                            }
                                        }
                                    }

                                    <li>
                                        <a href='@Url.Action("LogOut", "Home")'><i class="glyphicon-exit"></i>Salir</a>
                                    </li>
                                </ul>
                            </nav>
                            <!-- END Primary Navigation -->
                        </div>
                    </div>
                    <!-- END Sidebar Tabs -->
                </div>
                <!-- END Wrapper for scrolling functionality -->
            </div>
        </aside>
        <!-- END Left Sidebar -->

        <!-- Pre Page Content -->
        <div id="pre-page-content">
            <div style="float: right; margin-right: 10%; color: darkgreen">
                <span style="font-weight: bold; font-size: small">@person.getFullName()</span><br />
                <span style="font-weight: bold; font-size: small">User:</span>
                @person.Email
            </div>
            @{
                string mainIcon = (ViewBag.MainIcon != null) ? ViewBag.MainIcon : "glyphicon-shopping_bag";
                string mainHeader = (ViewBag.MainHeader != null) ? ViewBag.mainHeader : "EducaStore";
            }
            <h1><i class="@mainIcon"></i>
                @mainHeader<br>
                <small>Educa Technology and Content Group</small>
            </h1>
        </div>
        <!-- END Pre Page Content -->

        <!-- Page Content -->
        <div id="page-content">
            <!-- Main Content -->
            @RenderSection("featured", required: false)
            @RenderBody()
            <!-- END Main Content -->

        </div>
        <!-- END Page Content -->
        
        <!-- Footer -->
        <footer style="margin-left: 0;">
            <div class="pull-left">
                <strong>&copy; &nbsp; ETC Group - @DateTime.Now.Year </strong>
                <small>
                    @{
                        @*Fecha de ensamblado: @File.GetCreationTime(ViewContext.Controller.GetType().Assembly.Location) ,*@
                        <span style="color: darkgray">@ViewContext.Controller.GetType().Assembly.GetName().Version</span>
                    }
                </small>
            </div>
        </footer>
        <!-- END Footer -->
    </div>
    <!-- END Page Container -->

    <!-- Scroll to top link, check main.js - scrollToTop() -->
    <a href="#" id="to-top"><i class="icon-chevron-up"></i></a>

    <!-- Modal de Espera -->
    <div id="loading-modal" class="modal hide fade" style="display: none;" data-backdrop="static" data-keyboard="false" aria-hidden="true">
        <div class="modal-header">
            <h4 style="text-align: center;">Procesando</h4>
        </div>
        <br>
        <div class="modal-body" style="text-align: center;">
            <p>
                <label class="control-label" style="font-size: 20px; font-weight: bold; display: inline !important;">Por favor espere...</label>&nbsp;<i class="icon-spinner icon-spin icon-5x text-success"></i>
            </p>
        </div>
    </div>

    <!-- Excanvas for Flot (Charts plugin) support on IE8 -->
    <!--[if lte IE 8]><script src="js/helpers/excanvas.min.js"></script><![endif]-->

    <!-- Get Jquery library from Google ... -->
    <!-- Add the https version if you are using SSL <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <!-- ... but if something goes wrong get Jquery from local file -->
    <script>!window.jQuery && document.write(unescape('%3Cscript src="~/Scripts/js/vendor/jquery-1.9.1.min.js"%3E%3C/script%3E'));</script>

    <!-- Bootstrap.js -->
    @*@Scripts.Render("~/Scripts/flatapp/bootstrap")*@
    <!-- Minified javascript could not be included thru bundles -->
    <script src="~/Scripts/flatapp/vendor/bootstrap.min.js"></script>

    <!-- Jquery plugins and custom javascript code -->
    @Scripts.Render("~/Scripts/flatapp/general")

    @Scripts.Render("~/Scripts/general")
    
    @Scripts.Render("~/Scripts/main-index.js")

    @RenderSection("Scripts", required: false)

    <!-- Javascript code only for this page -->
    <script>
        
    </script>
</body>
</html>