﻿@using WebEducaStore.Utils
@using WebEducaStore.ViewModels
@model ListContentVM

@*
@{
	//var to control the opening and closing of div for row
	bool opened = false;
	//additional var to control the openning and closing div
	//(necessary to check when it isnt the same loop run)
	int control = 0;
	int i;
	for (i = 0; i < Model.Contents.Count; i++)
	{
		//if a new row has to be built (first time will always join)
		if (i % 2 == 0 && !opened)
		{
			control = i;
			//the div for row is opened
			opened = true;
	@:<div class="row-fluid row-items">
}

		string priceId = Model.Contents[i].priceId.ToString(CultureInfo.InvariantCulture);
		string htmlImageDivId = "addtocart-" + priceId;
		//string htmlDivId = "imagecart-" + idContent;

<div class="span6">
        <div class="media media-hover" style="padding: 5px 10px">
          @if (Utility.VerifyImage(Model.Contents[i].image_path))
		  {
              <!-- Just a link with the href of the large image and a data-toggle attribute with the value lightbox-image -->
              <a href="@Model.Contents[i].image_path" data-toggle="lightbox-image">
                  <img src="@Model.Contents[i].image_path" width="71" height="100" class="media-object img-rounded pull-left" alt="Image" style="max-width: 71px; max-height: 100px">
              </a>
		  }
		  else
		  {
              <img src="~/Images/educatablet_header.png" width="71" height="100" class="media-object img-rounded pull-left" alt="Image" style="max-width: 71px; max-height: 100px">
		  }

          <div class="media-body" style="padding-left:0.5em">
            <div class="pull-right">
              
                @{
		  //if the content is already in the cart, show the check image
		  //otherwise, check the add item with the div tag to allow
		  //jquery call
		  if (@Model.Contents[i].isAddedToCart)
		  {
                      <a data-placement="bottom" title="Ya ha sido añadido al carrito"><img src='@Url.Content("~/Images/addedtocart.png")' /></a>
		  }
                    @*else if (@Model.Contents[i].alreadyBought)
                    {
                      <img title="Ya ha sido adquirido este producto" src='@Url.Content("~/Images/addedtocart.png")' />
                    }*@@*
		  else
		  {
                        <div id="@htmlImageDivId">
                        <a href="#" data-placement="bottom" title="Añadir al carrito">
                        <img src="~/Images/addtocart.png" /></a>
                        </div>
		  }              
                }
              
            </div>
            <h5 style="margin:0"><strong>@Model.Contents[i].title</strong>@* &nbsp;&nbsp;<small>@Model.Contents[i].publisher</small>*@@*</h5>
            <p style="margin:0"><small>@Model.Contents[i].author</small></p>
            @foreach (var catalog in @Model.Contents[i].Catalogs)
			{
				for (int j = 0; j < Model.Catalogs.Count; j++)
				{
					if (catalog.id == @Model.Catalogs[j].id)
					{
						int indexColor = Model.Catalogs.FindIndex(s => s.id == catalog.id);
						string color = Model.Catalogs.FirstOrDefault(w => w.id == catalog.id).color;
                      <span class="badge" style="background-color: @color" >@catalog.name</span>
					}
				}
			}
            <br />
             Bs @Model.Contents[i].pricing.FinalAmountFormatted &nbsp;&nbsp;
            @if (Model.Contents[i].alreadyBought)
			{
              <span class="text-error"><strong>¡Ya adquirido!</strong></span>
			}
          </div>
        </div>
      </div>
        
			/*
       * If there is a new row, and there was an openned div
       * and it is not the same run of the openning div
       * */
			if ((i + 1) % 2 == 0 && opened && i != control)
			{
				//the div for row is closed
				opened = false;
          @:</div>
	                                                      }
	}

	if (Model.Contents.Count % 2 != 0)
	{
	@:</div>
          }
}
*@


<div class="row-fluid row-items" style="text-align: center;">
	<div style="display: inline-block;">
		@for (int i = 0; i < Model.Contents.Count; i++)
		{
			<div style="width: 220px;height: 430px;background-color: rgb(239, 239, 239);display: inline-block;margin-right: 30px;padding: 5px;">
				<table style="height: 100%;">
					<tr>
						<td>
							@if (Utility.VerifyImage(Model.Contents[i].image_path))
							{
								<!-- Just a link with the href of the large image and a data-toggle attribute with the value lightbox-image -->
								<a href="@Model.Contents[i].image_path" data-toggle="lightbox-image">
									<img src="@Model.Contents[i].image_path" class="media-object img-rounded pull-left" alt="Image" style="width: 215px;height: 280px;" />
								</a>
							}
							else
							{
								<img src="~/Images/Img_default.png" class="media-object img-rounded pull-left" alt="Image" style="width: 220px;height: 280px;" />
							}
						</td>
					</tr>
					<tr>
						<td style="padding: 5px;text-align: left;">
							<h5 title="@Model.Contents[i].title" style="width: 210px;font-size: small;margin: 0;border-bottom-style: solid;border-bottom-color: grey;border-bottom-width: thin;overflow:hidden;white-space:nowrap;text-overflow: ellipsis;">@Model.Contents[i].title</h5>
						</td>
					</tr>
					<tr>
						<td style="padding: 5px;text-align: left;">
							<p title="@Model.Contents[i].author" style="width: 210px;color:rgb(168, 163, 163);font-size: small;margin: 0;border-bottom-style: solid;border-bottom-color: grey;border-bottom-width: thin;overflow:hidden;white-space:nowrap;text-overflow: ellipsis;">@Model.Contents[i].author</p>
						</td>
					</tr>
					<tr>
						<td style="padding: 5px;text-align: left;">
							<span><b>Bs @Model.Contents[i].pricing.FinalAmountFormatted</b></span>
						</td>
					</tr>
					<tr>
						<td style="height: 8%;">
							@if (Model.Contents[i].alreadyBought)
							{
								<div style="height: 28px;padding-top: 5px;color: white;background-color: gray;text-align: left;padding-left: 10px;border-color: rgb(102, 95, 95);border-style: solid;border-width: thin;">
									<b>Comprado</b>
								</div>
							}
							else if (!Model.Contents[i].isAddedToCart)
							{
								<button type="submit" value="b2" name="b2" class="btn btn-success remove-margin addtocart" data-priceid="@Model.Contents[i].priceId" style="height: 36px;width: 100%; text-align: left; background-color: rgb(104, 192, 104);">
									<b>Añadir al carrito</b>
									<i class="glyphicon glyphicon-plus pull-right" style="color: white;"></i>
								</button>
							}
							else
							{
								<div style="height: 28px;padding-top: 5px;color: white;background-color: dodgerblue;text-align: left;padding-left: 10px;border-color: rgb(27, 105, 207);border-style: solid;border-width: thin;">
									<b>Añadido al Carrito</b>
									<span class="glyphicon glyphicon-ok pull-right" style="color: white;width: 20px;padding-top: 3px;"></span>
								</div>
							}
						</td>
					</tr>
				</table>
			</div>
			if ((((i + 1) % 2) == 0) || ((i == Model.Contents.Count)))
			{
				@:</div>
				if (i < Model.Contents.Count)
				{
					@:<div style="display: inline-block;">
				}
			}
		}
</div>