﻿@model WebEducaStore.ViewModels.ListContentVM
@{
    //var for control
    int countColor = 0;
    int totalColors = Model.totalColors();
    int filteredCatalogId = 0;

    /*
     * If filtered by catalog, show "show all" button"
     * */
    if(Model.isFilteredByCatalog)
    {
      @Html.ActionLink("Todos", "ListProducts", null, new { @class = "label catalog-tag", @style = "background-color: " + Model.FilteredCatalog.color + "; color: black" })
      filteredCatalogId = Convert.ToInt32(Model.FilteredCatalog.id);
    }

    /*
     * For each catalog, put a background, and if colors are over
     * then repeat again the colors palette from the viewmodel class
     * */
    foreach(var catalog in Model.Catalogs)
    {
      /*
       * If the contents are already filtered, disable the
       * catalog button which was pressed
       * */
      if(catalog.id == filteredCatalogId)
      {
        <span class="label catalog-tag" style="background-color: @Model.Colors[countColor]; font-weight:bold">@catalog.name</span>
        Model.FilteredCatalog.name = catalog.name;
        //        @Html.ActionLink(catalog.name, "ListProducts", new { idCatalog = catalog.id }, new { @class = "label catalog-tag disabled", @style = "background-color: " + Model.Colors[countColor] })
      }
      else
      {
        @Html.ActionLink(catalog.name, "ListProducts", new { idCatalog = catalog.id }, new { @class = "label catalog-tag", @style = "background-color: " + Model.Colors[countColor] })
      }
      
      
    @*<a href="#"><span class="label catalog-tag" style="background-color: @Model.Colors[countColor];">@catalog.name</span></a>*@
    
      catalog.color = Model.Colors[countColor];
      countColor++;
      //if there arent more colors, restart the counter for colors
      if(countColor == (totalColors - 1))
      {
        countColor = 0;
      }
    }
  }