﻿@model WebEducaStore.ViewModels.ListContentVM
@{
  ViewBag.Title = "Contenidos";
  ViewBag.MainHeader = "EducaStore";
}

@*@User.Identity.Name

@{
  var p = (WebEducaStore.Models.PersonSession) ViewBag.person;
  @:Contiene educadesk? @p.roles.ContainsKey("EducaDesk");
  List<string> r = p.roles["EducaDesk"];
  @:Contiene teacher? @r.Contains("TEACHER")
@:Contiene student? @r.Contains("STUDENT")
  foreach(var x in r)
  {
    @:@x
  }
   @:roleID: @p.roleId
@:roleInstitution: @p.roleInstitutionId
}*@

<!-- div to replace with message from ajax -->
<div id="alertMessage">
</div>

<!-- If there are no contents to show  -->
@{
  if(Model.Contents.Count != 0)
  {
  <!-- Accordion Content -->
  <div class="accordion" id="example-accordion">
    <div class="accordion-group">
      <div class="accordion-heading" style="display: block; padding: 0px 5px; background: none;">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#example-accordion" href="#example-accordion-content1">
          <h5 style="margin:0"><strong>CATALOGOS</strong></h5>
        </a>
      </div>
        @{
            //not using
             /*
             * Depending if the catalog was filtered, it will automatically collapse
             * the accordion.
             * */
    //string classForAccordion = (Model.filteredByCatalog) ? "accordion-body collapse" : "accordion-body collapse in";
    string classForAccordion = "accordion-body collapse in";
      }
      <div id="example-accordion-content1" class="@classForAccordion">
        <div class="accordion-inner">

          <!-- Catalogs -->
          @Html.Partial("_listCatalogTags", Model)

        </div>
      </div>
    </div>
  </div>
  <!-- End of Accordion -->
  
  <!-- Products List Block -->
  <div class="block block-themed block-last">
    <!-- Products List Title -->
    <div class="block-title">
      <div class="block-options">
        @Html.ActionLink(" Ir al carrito", "Index", "Cart", new { }, new { @class = "icon-shopping-cart", @style = "color:white; margin-right:2em; font-size: 1.5em;" })
      </div>

      @{
    string catalogShowing = "";
    /*
     * If selected catalog (name stored before) show message
     * listing for that catalog
     * */
    if(Model.isFilteredByCatalog)
    {
      catalogShowing = "para '" + Model.FilteredCatalog.name + "'";
    }
      }

      <h4><i class="icon-list"></i>&nbsp;Lista de contenidos @catalogShowing</h4>
    </div>
    <!-- END Products List Title -->

    <!-- Products List Content -->
    <div class="block-content">

      @Html.Partial("_listProductItems", Model)

    </div>
    <!-- END Products List Content -->
  </div>
  <!-- END Products List Block -->
  }
  else
  {
  <h3 class="sub-header">No posee contenidos para adquirir asociados a la institución.</h3>
  }
}

@section Scripts {
  <script>
    //Javascript event when image add to cart is clicked
    //it identifies if an html id with wilcard was clicked
    //and then 
    $('.addtocart').click(function (event) {
      var priceId = $(this).data("priceid");
      // block the image to prevent many clicks
      $(this).unbind('click').attr('disabled', 'disabled');
        ShowLoadingModal();
      $.ajax({
        type: 'POST',
        url: 'AddToCart',
        data: { priceId: priceId },
        success: function (result) {
          if (result.isAdded) {
              $("#alertMessage").replaceWith(result.alertMessage);
          }
          else {
            //shows the error message that was returned because
            $("#alertMessage").replaceWith(result.alertMessage);
          }
          HideLoadingModal();
        },
        error: function () {
            alert("Ha ocurrido un error, contacte al administrador");
            HideLoadingModal();
        }
      });
    });
  </script>
}