#primary-nav li a:hover
{
  text-decoration: none;
  background-color: #ccc;
  /*border-color: #1C960C;*/
  border: none;
}

/* change background of header and repeat*/
#pre-page-content, #page-content, footer {
    border-left: 0 !important;
    /*margin: 0 0 0 200px;*/
    /*margin-left: 200px !important;*/
}

#page-sidebar {
    /*width: 200px;*/
    display: block;
    position: absolute;
    /*border-right: 1px solid #333; */
    border-right: 0 !important;
}

.mini-profile {
    padding: 20px;
    /*background: black;*/
    background: url('../Images/fondo.png') rgba(245, 245, 245, 1); 
}

.mini-profile img {
    width: 100px;
    height: 100px;
}

#pre-page-content {
    padding: 10px;
    min-height: 80px;
    /*background-color: black;*/
    background: url('../Images/fondo.png') rgba(245, 245, 245, 1); 

}

/* change background of sidebar*/
.sidebar-tabs-con .tab-content {
    /*background-color: #595959;*/
    background: url('../Images/fondo.png') rgba(245, 245, 245, 1); 
    /*padding: 20px 0 10px;*/
    padding: 0;
    margin: 0;
    border: none;
}

#page-container {
    width: 95%;
    min-width: 320px;
    max-width: 1920px;
    margin: 0 auto;
    background: url('../Images/fondo.png') rgba(245, 245, 245, 1);
}

#primary-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background: rgba(255, 255, 255, 1);
}

#primary-nav li a {
    display: block;
    color: #333;
    padding: 10px 10px 8px;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-style: solid;
    /*border-color: #595959;*/
    border-color: rgba(245, 245, 245, 1);
    text-decoration: none;
}

/*sidebar students (adoptions)*/
#sidebarAdoptions li
{
  text-align:left;
  list-style-type:none;
  padding:5px;
}

#sidebarAdoptions a
{
  text-align: right;
  font-weight:bold;
}

/* styles for validation helpers */
.field-validation-error {
    color: #e80c4d;
    font-weight: bold;
    display:block;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #e80c4d;
}

.validation-summary-errors {
    color: #e80c4d;
    font-weight: bold;
    font-size: 1.1em;
}

.validation-summary-valid {
    display: none;
}

/*********************/
/* Iconos de Errores */
/*********************/
.IconoErrorOcultar {
    background: #DD4B39;
    padding: 0 5px;
    color: white;
    font-size: 17px;
    font-weight: bold;
    display: none;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 1em;
    text-decoration: none;
    position: relative;
    top: 0px;
}

.IconoErrorMostrar {
    background: #DD4B39;
    padding: 0 5px;
    color: white;
    font-size: 17px;
    font-weight: bold;
    display: inline-block;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 1em;
    text-decoration: none;
    position: relative;
    top: 0px;
    cursor:default;
}

.IconoErrorMostrarTarjetaCredito {
    background: #DD4B39;
    padding: 0 5px;
    color: white;
    font-size: 17px;
    font-weight: bold;
    display: inline-block;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 1em;
    text-decoration: none;
    position: relative;
    cursor:default;
    top:3px;
    margin-right: 340px;
}