/*remove the border of the login image*/
.login-btn {
    z-index: 1000;
    position: absolute;
    top: 250px;
    left: 50%;
    display: block;
    width: 150px;
    height: 150px;
    line-height: 150px;
    font-size: 26px;
    text-align: center;
    color: #fff;
    border: 0;
    margin-left: -80px;
    -webkit-border-radius: 80px;
    -moz-border-radius: 80px;
    border-radius: 80px;
    -webkit-transition: all 0.75s ease-in-out;
    -moz-transition: all 0.75s ease-in-out;
    -o-transition: all 0.75s ease-in-out;
    transition: all 0.75s ease-in-out;
}

.block.block-themed.themed-default > .block-title,
.themed-background-default {
     background-color: #8cc63f !important; 
}

/* styles for validation helpers */
.field-validation-error {
    color: #e80c4d;
    font-weight: bold;
    display:block;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #e80c4d;
}

.validation-summary-errors {
    color: #e80c4d;
    font-weight: bold;
    font-size: 1.1em;
}

.validation-summary-valid {
    display: none;
}