/*
 *  Document   : main.css
 *  Author     : pixelcave
 *  Description: The main stylesheet of the template
 *
 *  Structure (with shortcodes):
 *      (#m01lls) LOGIN (Login page layout structure and elements)
 *      (#m02mls) MAIN LAYOUT (Main page layout structure)
 *      (#m03hds) HEADER (Header + extend of Bootstrap styles)
 *      (#m04nvs) NAVIGATION (Primary + Dashboard Menu)
 *      (#m05mcs) MAIN CONTENT (Template specific styles such as Block, Tiles and Pricing Tables)
 *      (#m06bos) BOOTSTRAP OVERWRITE + EXTEND STYLES (Overwrite and extend the default bootstrap styles + Datatables plugin)
 *      (#m07hes) HELPERS (Some helper classes)
 *      (#m08res) RESPONSIVE
 *      (#m09rts) RETINA
 */

/*
=================================================================
(#m01lls) LOGIN
=================================================================
*/

.left-door, .right-door {
    width: 50%;
    height: 100%;
    position: absolute;
    bottom: 0;
    background-color: #151515;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

.left-door {
    left: 0;
    border-right: 3px solid #222;
}

.right-door {
    right: 0;
    border-left: 3px solid #222;
}

.left-door.login-animate,
.right-door.login-animate {
    width: 0;
}

.login-btn {
    z-index: 1000;
    position: absolute;
    top: 250px;
    left: 50%;
    display: block;
    width: 150px;
    height: 150px;
    line-height: 150px;
    font-size: 26px;
    text-align: center;
    color: #fff;
    /*border: 5px solid #fff;*/
    margin-left: -80px;
    -webkit-border-radius: 80px;
    -moz-border-radius: 80px;
    border-radius: 80px;
    -webkit-transition: all 0.75s ease-in-out;
    -moz-transition: all 0.75s ease-in-out;
    -o-transition: all 0.75s ease-in-out;
    transition: all 0.75s ease-in-out;
}

.login-logo {
    display: block;
    position: relative;
}

.login-logo .square1,
.login-logo .square2 {
    position: absolute;
    display: none;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border: 8px solid #333;
    top: 30px;
    left: 30px;
    z-index: 1002;
}

.login-logo .square2 {
    border: none;
    top: 63px;
    left: 63px;
    z-index: 1001;
}

.login-logo .name {
    font-weight: 300;
}

.login-btn:hover,
.login-btn:focus {
    text-decoration: none;
    color: #fff;
    box-shadow: 0 0 100px 0 #777;
}

.login-btn:focus {
    outline:none;
}

.login-btn::-moz-focus-inner {
    border:0;
}

.login-btn.login-animate {
    top: 75px;
    box-shadow: none;
    transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
}

#login-container {
    width: 300px;
    margin: 0 auto 0;
    padding: 310px 0 0;
}

.login .block-tabs {
    box-shadow: 0 0 100px 0 #000;
}

.login .tab-content {
    padding-bottom: 10px !important;
}

#login-tabs li {
    width: 50%;
}

#login-buttons button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    text-align: left;
}

#login-buttons i {
    float: right;
}

body.login input[type="text"],
body.login input[type="password"] {
    width: 215px;
}

.login-extra-check {
    margin: 5px 0 0;
}

/*
=================================================================
(#m02mls) MAIN LAYOUT
=================================================================
*/

body {
    background: #393939 url('../img/template/bg.png') top left repeat;
    color: #333;
    line-height: 1.6;
    font-size: 13px;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#page-container {
    width: 95%;
    min-width: 320px;
    max-width: 1920px;
    margin: 0 auto;
    background-color: #595959;
}

#page-container.full-width {
    width: 100%;
}

header {
    min-height: 40px;
}

#page-sidebar {
    width: 200px;
    display: block;
    position: absolute;
    border-right: 1px solid #333;
}

#pre-page-content {
    padding: 20px;
    min-height: 100px;
    background-color: #f0f0f0;
}

#page-content {
    padding: 20px;
    min-height: 1200px;
    background-color: #fff;
}

footer {
    text-align: center;
    font-size: 12px;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    background-color: #f1f1f1;
}

#pre-page-content, #page-content, footer {
    border-left: 1px solid #333;
    margin: 0 0 0 200px;
}

.affix {
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1029;
    opacity: 0.90;
    border: none !important;
    margin: 0 !important;
    filter: alpha(opacity=90);
    -wekit-box-shadow: 0 0 2px 0 #333;
    box-shadow: 0 0 2px 0 #333;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: opacity 0.25s linear;
    -moz-transition: opacity 0.25s linear;
    -o-transition: opacity 0.25s linear;
    transition: opacity 0.25s linear;
}

.affix:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}

.header-fixed-top .affix {
    top: 42px;
}

.full-width .affix {
    margin-left: 201px  !important;
}

.hide-side-content .affix {
    margin-left: 0  !important;
}

.header-fixed-top header .dropdown .dropdown-menu {
    margin-top: 2px;
}

.header-fixed-bottom header .dropdown .dropdown-menu {
    margin-bottom: 2px;
}

.header-fixed-top #page-container {
    padding: 42px 0 0;
}

.header-fixed-bottom #page-container {
    padding: 0 0 42px;
}

/* Hide Side Content */
.hide-side-content #page-sidebar {
    display: none;
}

.hide-side-content #pre-page-content,
.hide-side-content #page-content,
.hide-side-content footer {
    margin: 0;
    border-left: none;
}

/* Sticky Sidebar */
#page-sidebar.sticky {
    position: fixed;
    top: 41px;
    bottom: 0;
}

.header-fixed-top #page-sidebar.sticky {
    top: 42px;
}

.header-fixed-bottom #page-sidebar.sticky {
    top: 0;
    bottom: 41px;
}

/*
=================================================================
(#m03hds) HEADER
=================================================================
*/

/* Static Header */
header.navbar {
    margin: 0;
    border-bottom: 1px solid #333;
}

header.navbar .dropdown-menu {
    margin-top: 1px;
}

/* Fixed header */
header.navbar-fixed-top {
    border: none;
    border-bottom: 2px solid #333;
}

header.navbar-fixed-bottom {
    border: none;
    border-top: 2px solid #333;
}

/* Navbar */
header.navbar {
    margin: 0;
}

header .navbar-inner {
    position: relative;
}

header > .navbar-inner > .container-fluid {
    padding: 0;
}

/* Search */
#top-search {
    margin: 5px;
    padding: 0;
    height: 30px;
    position: absolute;
    top: 0;
    left: 49px;
}

#top-search input[type=text] {
    margin: 0;
    padding: 0 5px;
    height: 30px;
    line-height: normal;
    width: 96px;
    border: none;
    color: #2980b9;
    background-color: #fff;
    opacity: 0.6;
    filter: alpha(opacity=60);
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

#top-search input[type=text]:hover {
    opacity: 0.8;
    filter: alpha(opacity=80);
}

#top-search input[type=text]:focus {
    width: 260px;
    opacity: 1;
    filter: alpha(opacity=100);
}

.lt-ie9 #top-search input[type=text] {
    line-height: 30px;
}

/* Loading */
#loading {
    font-size: 20px;
    padding: 5px 0 0;
    height: 35px;
}

#loading i {
    color: #fff;
}

/* Theme Options */
.dropdown-theme-options .dropdown-menu > li {
    width: 152px;
}

.theme-colors {
    list-style: none;
    padding: 10px 0 0;
    margin: 0;
}

.theme-colors li {
    float: left;
    margin: 0 4px 10px;
}

.theme-colors li a {
    display: block;
    width: 26px;
    height: 26px;
    border-width: 2px;
    border-style: solid;
}

.theme-colors li.active a {
    border-color: #000 !important;
}

.theme-extra {
    padding-top: 10px !important;
    padding-bottom: 5px !important;
}

.themed-color {
    color: #2980b9;
}

.themed-background {
    background-color: #2980b9;
}

.themed-border {
    border-color: #2980b9;
}

/* Notifications */
.dropdown-notifications li {
    width: 170px;
}

.dropdown-notifications .alert {
    margin: 2px -8px;
    font-size: 13px;
    padding: 8px 5px;
}

/* Messages */
.dropdown-messages li {
    width: 225px;
}

.dropdown-messages li:hover {
    background-color: #eee;
}

.dropdown-messages li:hover .media-body .media {
    color: #000;
}

.dropdown-messages li > .media {
    margin: 0 -12px;
    background: none;
}

.dropdown-messages .media-heading {
    margin: 0;
}

.dropdown-messages .media-heading span {
    float: right;
}

.dropdown-messages .media-body .media {
    padding: 0;
    margin: 0;
    background: none;
}

/* User */
.dropdown-user img {
    margin: -9px;
}

/*
=================================================================
(#m04nvs) NAVIGATION
=================================================================
*/

/* Primary Menu */
#primary-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #595959;
}

#primary-nav li a {
    display: block;
    color: #eee;
    padding: 10px 10px 8px;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-style: solid;
    border-color: #595959;
    text-decoration: none;
}

#primary-nav li a:hover {
    text-decoration: none;
    background-color: #616161;
    border-color: #616161;
}

#primary-nav li a:focus {
    outline: none;
}

#primary-nav li a::-moz-focus-inner {
    border: 0;
}

#primary-nav a > i {
    width: 20px;
    text-align: center;
    display: inline-block;
    margin: -3px 10px 0 0;
}

#primary-nav li a.active,
#primary-nav li > ul a.active:hover {
    color: #fff;
    background-color: #2980b9;
    border-color: #333;
}

#primary-nav li span {
    float: right;
    font-size: 12px;
    color: #aaa;
}

#primary-nav li a:hover span {
    color: #fff;
}

/* Submenu (2nd level) */
#primary-nav li a.open,
#primary-nav li.active > a,
#primary-nav li a.open:hover,
#primary-nav li.active > a:hover {
    color: #fff;
    background: #494949;
    border-color: #494949;
}

#primary-nav li > ul {
    padding: 0;
    margin: 0;
    display: none;
    background: #777;
}

#primary-nav li.active > ul {
    display: block;
}

#primary-nav li > ul a {
    margin: 0;
    font-size: 12px;
    color: #ddd;
    border-color: #777;
    padding: 7px 10px 7px 20px;
}

#primary-nav li > ul a:hover {
    background-color: #888;
    border-color: #888;
}

/* Submenu (3rd level) */
#primary-nav li > ul > li > ul a {
    padding-left: 30px;
}

/*
=================================================================
(#m05mcs) MAIN CONTENT
=================================================================
*/

/* Blocks */
.block {
    margin: 0 0 20px;
    padding: 0;
    background-color: #fff;
}

.block .block {
    margin: 0 0 15px;
}

.block-title {
    margin: 0;
    background-color: #eee;
}

.block-title code {
    margin-bottom: 0;
    background: #ffffff;
    border: none;
    padding: 2px 3px;
    opacity: 0.9;
    filter: alpha(opacity=90);
}

.block-title h1,
.block-title h2,
.block-title h3,
.block-title h4,
.block-title h5,
.block-title h6 {
    display: inline-block;
    padding: 12px 10px 10px;
    margin: 0;
    line-height: normal;
}

.block-title h1,
.block-title h2,
.block-title h3 {
    padding-left: 15px;
    padding-right: 15px;
}

.block-options .btn,
.block-options-left .btn {
    opacity: 0.80;
    filter: alpha(opacity=80);
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

.block-options .btn:hover,
.block-options-left .btn:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}

.block-options .btn-option,
.block-options-left .btn-option {
    border-radius: 14px !important;
    padding: 4px 8px;
    border: none;
    min-width: 28px;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.block-options .btn-option:hover,
.block-options-left .btn-option:hover,
.btn-group.open .btn.dropdown-toggle.btn-option {
    background-color: #fff !important;
    opacity: 1;
    filter: alpha(opacity=100);
}

.block-options {
    float: right;
    margin: 8px 10px 0 0;
}

.block-options-left {
    float: left;
    margin: 8px 0 0 10px;
}

.block-tabs .block-options,
.block-tabs .block-options-left {
    margin-top: 6px;
}

.block-content {
    margin: 0;
    padding: 20px 20px 5px;
    border: 2px solid #eee;
    border-top: none;
}

.block-content.full {
    padding: 20px;
}

.block-content.block-content-flat {
    padding: 0;
}

.block-section {
    margin-bottom: 20px;
}

.block-section-pad {
    padding: 20px;
    margin-bottom: 20px;
}

.block-last {
    margin-bottom: 0 !important;
}

/* Block Themed */
.block.block-themed {
    border: none;
}

.block.block-themed > .block-title {
    background: #2980b9;
}

.block.block-themed > .block-content {
    border-color: #2980b9;
}

.block.block-themed > .block-title h1,
.block.block-themed > .block-title h2,
.block.block-themed > .block-title h3,
.block.block-themed > .block-title h4,
.block.block-themed > .block-title h5,
.block.block-themed > .block-title h6 {
    color: #fff;
}

.block.block-themed > .block-title h1 small,
.block.block-themed > .block-title h2 small,
.block.block-themed > .block-title h3 small,
.block.block-themed > .block-title h4 small,
.block.block-themed > .block-title h5 small,
.block.block-themed > .block-title h6 small {
    color: #f5f5f5;
}

/* Block Tabs */
.block.block-tabs {
    padding: 0;
    border: 2px solid #ddd;
}

.block-tabs > .nav-tabs {
    background-color: #ddd;
    border-bottom: 2px solid #ddd;
}

.block-tabs > .nav-tabs > li {
    margin-bottom: -2px;
}

.block-tabs > .nav-tabs > li > a,
.block-tabs > .nav-tabs > li > a:hover,
.block-tabs > .nav-tabs > li > a:focus {
    border: none;
}

.block-tabs > .nav-tabs > li > a:hover,
.block-tabs > .nav-tabs > li > a:focus {
    border: none;
    color: #333;
    background-color: #d4d4d4;
}

.block-tabs > .nav-tabs > .active > a:hover,
.block-tabs > .nav-tabs > .active > a:focus {
    background-color: #fff;
}

.block-tabs > .tab-content {
    border: 0;
    padding: 20px;
}

.block-tabs.block-themed {
    border: 2px solid #2980b9;
}

.block-tabs.block-themed > .nav-tabs {
    background: #2980b9;
    border-bottom: none;
}

.block-tabs.block-themed > .nav-tabs > li {
    margin-bottom: 0;
}

.block-tabs.block-themed > .nav-tabs > li > a {
    color: #fff;
}

.block-tabs.block-themed > .nav-tabs > li > a:hover,
.block-tabs.block-themed > .nav-tabs > li > a:focus {
    background: #333;
}

.block-tabs.block-themed > .nav-tabs > .active > a,
.block-tabs.block-themed > .nav-tabs > .active > a:hover,
.block-tabs.block-themed > .nav-tabs > .active > a:focus {
    color: #333;
    background-color: #fff;
}

.block-tabs.block-themed > .tab-content {
    padding: 20px;
}

.modal-body .block-tabs.block-themed {
    border: 0;
}

/* Mini Sidebar Profile */
.mini-profile {
    padding: 10px;
    background: #353535;
}

.mini-profile a {
    display: inline-block;
}

.mini-profile a:hover {
    opacity: 0.95;
    filter: alpha(opacity=95);
}

.mini-profile img {
    width: 120px;
    height: 120px;
}

.mini-profile-options {
    float: right;
}

.mini-profile-options .badge {
    width: 29px;
    height: 28px;
    line-height: 30px;
    text-align: center;
    padding: 0;
    margin: 0 0 3px;
    display: block;
    opacity: 0.80;
    border-radius: 14px;
    filter: alpha(opacity=80);
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

.mini-profile-options .badge:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}

/* Sidebar Tabs */
.sidebar-tabs {
    background-color: #696969;
    list-style: none;
    margin: 0;
    padding: 0;
    height: 35px;
}

.sidebar-tabs li {
    padding: 0;
    margin: 0;
    width: 50%;
    float: left;
}

.sidebar-tabs a {
    text-align: center;
    color: #fff;
    display: inline-block;
    width: 100%;
    height: 35px;
    line-height: 38px;
    font-size: 16px;
}

.sidebar-tabs > li > a:hover,
.sidebar-tabs > li > a:focus,
.sidebar-tabs > li > a:active {
    color: #fff !important;
    background-color: #777;
    text-decoration: none !important;
    outline: none;
}

.sidebar-tabs > li.active > a {
    background-color: #595959;
}

.sidebar-tabs-con .tab-content {
    background-color: #595959;
    padding: 20px 0 10px;
    margin: 0;
    border: none;
}

.tab-pane-side {
    padding: 0 10px;
    color: #ccc;
}

#page-sidebar h1,
#page-sidebar h2,
#page-sidebar h3,
#page-sidebar h4,
#page-sidebar h5,
#page-sidebar h6 {
    margin: 5px -10px;
    padding: 9px 10px 8px;
    font-weight: normal;
    background-color: #696969;
}

#page-sidebar h1 i.pull-right,
#page-sidebar h2 i.pull-right,
#page-sidebar h3 i.pull-right,
#page-sidebar h4 i.pull-right,
#page-sidebar h5 i.pull-right,
#page-sidebar h6 i.pull-right {
    margin: 2px 0 0;
}

.side-link,
.side-link:hover {
    color: #fff;
}

/* Pre Page Content */
#pre-page-content h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #555;
}

#pre-page-content h1 small {
    color: #777;
}

#pre-page-content h1 i {
    float: left;
    width: 80px;
    height: 80px;
    text-align: center;
    line-height: 80px;
    margin-right: 20px;
    font-size: 56px;
    display: block;
}

#pre-page-content h1 i,
.animate-360 {
    animation: pre-page-icon 1s ease-in-out;
    -webkit-animation: pre-page-icon 1s ease-in-out;
}

.animate-360 {
    display: inline-block;
}

@keyframes pre-page-icon {
    from {
        opacity: 0;
        transform: rotateY(0deg);
    }
    to {
        opacity: 100;
        transform: rotateY(360deg);
    }
}

@-webkit-keyframes pre-page-icon {
    from {
        opacity: 0;
        -webkit-transform: rotateY(0deg);
    }
    to {
        opacity: 100;
        -webkit-transform: rotateY(360deg);
    }
}

#pre-page-content h1 i[class^="gemicon-"],
#pre-page-content h1 i[class*=" gemicon-"] {
    margin-top: 8px;
}

/* Timeline */
.timeline-container {
    margin-bottom: 15px;
}

.timeline {
    list-style: none;
    margin: 0 0 0 150px;
    padding: 0 0 0 20px;
    border-left: 3px solid #e9e9e9;
}

.timeline li {
    background-color: #f0f0f0;
    padding: 10px 10px 10px 84px;
    margin: 10px 0;
    position: relative;
}

.timeline li:hover {
    background-color: #e9e9e9;
}

.timeline-meta-cat,
.timeline-meta-time {
    display: inline-block;
    position: absolute;
    top: 0;
    height: 40px;
    line-height: 40px;
}

.timeline-meta-cat {
    width: 40px;
    text-align: center;
    color: #fff;
    left: -73px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
}

.timeline-meta-time {
    left: -173px;
    width: 80px;
    padding: 0 10px;
    text-align: right;
    font-size: 13px;
    color: #777;
}

.timeline-avatar {
    margin: -10px 0 -10px -84px;
    float: left;
    width: 64px;
    height: 64px;
}

.timeline-title {
    display: block;
    margin-bottom: 4px;
    font-weight: bold;
}

.timeline-text {
    color: #555;
    font-size: 13px;
}

/* Tiles */
.block.block-tiles {
    padding: 0;
    margin: 0 -7px 14px 0;
}

.tile {
    text-align: center;
    padding: 10px;
    margin: 0 6px 6px 0;
    float: left;
    background-color: #eee;
    display: block;
    position: relative;
}

.tile:hover {
    opacity: .75;
    filter: alpha(opacity=75);
}

a.tile {
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

a.tile:hover {
    text-decoration: none;
    opacity: 0.9;
    filter: alpha(opacity=90);
}

.block-tiles-animated a.tile:hover {
    transform: scale(0.95) rotateZ(1deg);
    -ms-transform: scale(0.95) rotateZ(1deg);
    -webkit-transform: scale(0.95) rotateZ(1deg);
}

.tile-themed {
    background-color: #2980b9;
    background-repeat: repeat;
    color: #fff;
}

.tile > i {
    padding: 20px 0 0;
    display: inline-block;
    font-size: 56px;
    color: #aaa;
    -webkit-transform:translate3d(0,0,0);
}

.tile > i[class^="glyphicon-"],
.tile > i[class*=" glyphicon-"],
.tile > i[class^="halfling-"],
.tile > i[class*=" halfling-"] {
    padding: 7px 0 0;
}

.tile > i[class^="social-"],
.tile > i[class*=" social-"],
.tile > i[class^="filetype-"],
.tile > i[class*=" filetype-"] {
    padding: 16px 0 0;
}

.tile-height-2x > i {
    padding: 107px 0 0;
}

.tile-height-2x > i[class^="glyphicon-"],
.tile-height-2x > i[class*=" glyphicon-"],
.tile-height-2x > i[class^="halfling-"],
.tile-height-2x > i[class*=" halfling-"] {
    padding: 90px 0 0;
}

.tile-height-2x > i[class^="social-"],
.tile-height-2x > i[class*=" social-"],
.tile-height-2x > i[class^="filetype-"],
.tile-height-2x > i[class*=" filetype-"] {
    padding: 103px 0 0;
}

.tile-themed > i {
    color: #fff;
}

.tile-info {
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 35px;
    line-height: 35px;
    padding: 0 10px;
    color: #aaa;
}

.tile-themed .tile-info {
    color: #fff;
}

.tile,
.tile > i,
.tile-info {
    width: 123px;
}

.tile {
    height: 123px;
}

.tile-width-2x,
.tile-width-2x > i,
.tile-width-2x .tile-info {
    width: 272px;
}

.tile-height-2x {
    height: 272px;
}

/* Gallery */
.gallery a img, .gallery-image img, a[data-toggle="lightbox-image"] img {
    max-width: 99%;
    border: 3px solid #fff;
}

.gallery a:hover img, .gallery-image:hover img, a[data-toggle="lightbox-image"]:hover img {
    border: 3px solid #2980b9;
}

.gallery-image {
    position: relative;
}

.gallery-image-options {
    position: absolute;
    top: 0;
    padding: 10px;
    display: none;
    width: 100%;
}

.gallery-image:hover .gallery-image-options {
    display: block;
}

/* Float content in text */
.content-text .pull-left {
    margin: 0 20px 10px 0;
}

.content-text .pull-right {
    margin: 0 0 10px 20px;
}

/* Scroll to top link */
#to-top {
    font-size: 20px;
    position: fixed;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #bbb;
    bottom: 47px;
    left: 0;
    color: #333;
    display: none;
    opacity: 0.25;
    filter: alpha(opacity=25);
}

#to-top:hover {
    text-decoration: none;
    background-color: #2980b9;
    color: #fff;
    opacity: 1;
    filter: alpha(opacity=100);
}

/* Charts */
.chart {
    height: 300px;
}

.chart-live {
    height: 540px;
}

.chart-tooltip {
    position: absolute;
    display: none;
    color: #fff;
    background-color: #333;
    padding: 3px 10px;
}

.chart-pie-label {
     font-size: 10px;
     text-align: center;
     padding: 2px 5px;
     color: #fff;
}

/* Errors Page */
#error-tabs {
    text-align: center;
}

#error-tabs li {
    display: inline-block;
    float: none;
}

.error-container {
    padding: 220px 20px;
    text-align: center;
    border: 10px solid #2980b9;
    background: #eee;
}

.error-container.standalone {
    padding: 50px 20px;
    margin: 150px auto 0;
    min-width: 300px;
    max-width: 768px;
    position: relative;
}

.error-container.standalone > a {
    position: absolute;
    top: 4px;
    left: 5px;
}

.error-code {
    font-size: 120px;
    line-height: 120px;
    margin-bottom: 50px;
}

.error-text {
    font-size: 26px;
    font-weight: bold;
    line-height: 26px;
    margin-bottom: 50px;
}

.error-search,
.error-search div,
.error-search input {
    margin: 0;
}

/* FullCalendar */
#fc-external-events {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 5px 10px;
    margin-bottom: 10px;
}

.fc-external-event {
    background-color: #2980b9;
    padding: 3px 10px;
    color: #fff;
    margin-bottom: 8px;
    cursor: move;
    border: 2px dotted #000;
}

/* Wizard */
.wizard-steps {
    margin: 0 0 25px;
}

.wizard-steps .wizard-step {
    padding: 20px;
    font-size: 18px;
    color: #999;
    background-color: #eee;
    text-align: center;
    margin-bottom: 10px;
}

.wizard-steps .wizard-step.active {
    color: #fff;
    font-weight: bold;
    background-color: #2980b9;
}

.wizard-steps .wizard-step.done {
    background: none;
}

/* Google Maps */
.gmap-con img {
    max-width: none !important;
}

/* Pricing Tables */
.pricing-tables {
    text-align: center;
    margin: 0;
    padding: 0;
}

.pricing-tables > li {
    width: 250px;
    margin: 10px 0;
    padding: 0 0 20px;
    background-color: #ddd;
    display: inline-block;
    opacity: 0.90;
    filter: alpha(opacity=90);
}

.pricing-tables > li:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}

.pricing-tables h2 {
    color: #fff;
    background: #333;
    padding: 20px 10px;
    margin: 0;
}

.pricing-tables h1 {
    font-size: 90px;
    margin: 0 0 20px;
    padding: 15px 20px;
    line-height: normal;
    background-color: #eee;
}

.pricing-tables h1 sup {
    font-size: 22px;
    top: -2em;
}

.pricing-tables h1 small {
    display: block;
    font-size: 14px;
}

.pricing-tables > li ul {
    list-style-type: none;
    font-size: 16px;
    padding: 0 10px;
    margin: 0 0 20px 30px;
    text-align: left;
}

.pricing-tables > li ul li {
    margin: 0 0 5px;
}

.pricing-tables-mini > li {
    width: 180px;
}

.pricing-tables-mini h2 {
    padding: 10px;
}

.pricing-tables-mini h1 {
    font-size: 72px;
}

.pricing-tables-mini h1 sup {
    top: -1.4em;
}

.plan-featured {
    border: 20px solid #2980b9;
    background-color: #fff;
}

.plan-featured h2 {
    background-color: #2980b9;
}

.plan-featured h1 {
    background-color: #fff;
    color: #2980b9;
}

/* Icon Set List */
.iconset-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.iconset-list li {
    padding: 5px;
    margin: 0 10px 10px 0;
    float: left;
    width: 200px;
    text-align: center;
    background: #f9f9f9;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.iconset-list i {
    line-height: normal;
    margin: 10px 0;
    font-size: 32px;
}

.iconset-list code {
    display: block;
    margin: 5px;
}

.iconset-list-dark li {
    background: #ccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

/* Inbox */
.inbox-container {
    background-color: #f9f9f9;
    width: 100%;
    display: table;
}

.inbox-container-row {
    width: 100%;
    display: table-row;
}

.inbox-menu,
.inbox-list,
.inbox-msg {
    display: table-cell;
    vertical-align: top;
}

.inbox-menu {
    width: 180px;
    min-width: 180px;
    padding: 10px;
}

.inbox-menu i {
    display: inline-block;
    width: 15px;
    margin-right: 10px;
}

.inbox-menu a {
    padding-top: 14px !important;
    padding-bottom: 12px !important;
    color: #555;
}

.inbox-menu a:hover {
    color: #555;
}

.inbox-menu-count {
    float: right;
    font-weight: bold;
}

.inbox-menu-count i {
    margin: 0;
    width: auto;
}

.inbox-list {
    width: 250px;
    min-width: 250px;
    padding: 10px;
    background-color: #e1e1e1;
}

.inbox-list .inbox-search {
    display: block;
    width: 236px;
    margin: 0 0 10px;
    border: 2px solid #fff;
}

.inbox-list .nav {
    margin-bottom: 0;
}

.inbox-list a {
    margin: 5px 0 !important;
    padding: 10px 10px !important;
    color: #333;
    border-left: 3px solid #ccc;
}

.inbox-list a:hover {
    color: #333;
}

.inbox-list li.active a {
    border: none;
}

.inbox-list a.unread {
    border-color: #b1cc16;
}

.inbox-list-username,
.inbox-list-meta {
    font-weight: bold;
    font-size: 12px;
    font-style: italic;
}

.inbox-list-meta {
    float: right;
    font-weight: normal;
    margin: -5px -5px 0 0;
}

.inbox-list-title {
    font-weight: bold;
    padding: 8px 0 0;
    display: inline-block;
}

.inbox-list-preview {
    padding: 3px 0 0;
    line-height: 1.6;
    display: inline-block;
}

.inbox-msg-actions {
    margin: 0;
    padding: 10px;
    background-color: #f1f1f1;
}

.inbox-msg-content {
    padding: 20px;
}

/* Chat */
.chat-container {
    background: #e1e1e1;
    border-bottom: none;
}

.chat-people,
.chat-messages {
    height: 600px;
    overflow-y: scroll;
}

.chat-people {
    padding: 0;
    margin: 0;
    width: 220px;
    float: right;
}

.chat-people ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.chat-people img {
    margin-right: 10px;
    float: left;
    width: 40px;
    height: 40px;
}

.chat-people a {
    min-height: 40px;
    line-height: 40px;
    display: block;
    color: #333;
    padding: 5px 10px;
    margin: 0 0 2px;
    font-weight: bold;
}

.chat-people a.chat-online {
    border-left: 5px solid #b1cc16;
}

.chat-people a.chat-away {
    border-left: 5px solid #fdbc4c;
}

.chat-people a.chat-offline {
    border-left: 5px solid #fc4c4c;
}

.chat-people a:hover,
.chat-people li.active a {
    background: #ccc;
    text-decoration: none;
    color: #000;
}

.chat-messages {
    padding: 0;
    margin: 0;
    background-color: #fff;
}

.chat-messages ul {
    list-style: none;
    padding: 5px 10px;
    margin: 0;
}

.chat-messages li {
    margin: 5px 0;
    padding: 10px 10px 10px 68px;
    background-color: #e1e1e1;
    min-height: 48px;
    position: relative;
    text-align: left;
    color: #333;
}

.chat-messages .chat-msg-user {
    background-color: #555;
    color: #fff;
}

.chat-messages li img {
    width: 48px;
    height: 48px;
    position: absolute;
    top: 10px;
    left: 10px;
}

.chat-messages .chat-msg-time {
    float: right;
    margin: 0 0 10px 10px;
    font-style: italic;
    font-size: 12px;
}

.chat-messages .chat-msg-time a {
    font-weight: bold;
}

.chat-input {
    padding: 5px 3px 3px;
}

.chat-input input {
    width: 100%;
    padding: 10px 10px;
    height: 40px;
    margin: 0 !important;
    border: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    opacity: 0.7;
    filter: alpha(opacity=70);
}

.chat-input input:hover {
    opacity: 0.85;
    filter: alpha(opacity=85);
}

.chat-input input:focus {
    opacity: 1;
    filter: alpha(opacity=100);
}

/* Landing */
.landing-container {
    padding-top: 40px;
}

.landing-container .navbar-inner {
    position: relative;
}

.landing-container header .nav-left {
    position: absolute;
    top: 0;
    left: 0;
}

.landing-header {
    background: #333 url('../img/template/landing_bg.jpg') top center no-repeat;
    color: #fff;
    height: 360px;
}

.landing-header .promo-text h1 {
    padding-top: 35px;
}

.landing-header .promo-text {
    text-shadow: 0 1px 1px #000;
}

.landing-section-outer {
    background-color: #f7f7f7;
    color: #333;
}

.landing-section-outer.grey {
    background-color: #f1f1f1;
}

.landing-section-outer.dark {
    background-color: #444;
    color: #ccc;
    border-top: 1px solid #222;
}

.landing-section {
    margin: 0 auto;
    width: 100%;
    min-width: 320px;
    max-width: 1140px;
    padding: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.landing-section h4 {
    margin: 0 0 20px;
    padding-top: 10px;
}

.landing-section p {
    margin: 0 0 15px;
}

.landing-section-outer.dark a {
    color: #fff;
}

/* Forum */
.table.table-forum th,
.table.table-forum td {
    vertical-align: middle;
}

.table.table-forum th {
    padding: 6px 8px 5px;
}

.table.table-forum td {
    background-color: #fcfcfc;
}

.table.table-forum .cell-stat {
    width: 80px;
}

.table.table-forum .cell-stat-2x {
    width: 160px;
}

.table.table-forum td.forum-post {
    padding: 5px 10px;
    vertical-align: top;
}

.table.table-forum td.forum-post p {
    margin-bottom: 10px;
}

.table.table-forum .forum-sign {
    margin: 0 -10px -5px;
    padding: 5px 10px;
    border-top: 1px solid #eee;
}

.table.table-forum .forum-avatar {
    vertical-align: top;
    padding: 10px;
    width: 20%;
}

.table.table-forum-cat h5 {
    margin: 0;
}

.table.table-forum-cat td.sticky {
    background-color: #eee;
}

/* Other */
p {
    margin-bottom: 15px;
}

pre, code {
    color: #545454;
    background-color: #f1f1f1;
    border-color: #999;
    font-weight: bold;
    padding: 2px 6px;
    display: inline-block;
    margin-bottom: 2px;
    text-indent: 0;
}

.page-header, .sub-header {
    margin: 0 0 20px;
    padding: 14px 10px 12px;
    border-bottom: 1px solid #ddd;
    background-color: #eee;
}

.sub-header {
    border-width: 1px;
    padding: 14px 0 12px;
    background-color: #fff;
}

.page-header .header-options {
    margin: -6px 0 0;
}

.row-items > div[class^="span"] {
    margin-bottom: 15px;
}

.grid-boxes > div {
    background: #ddd;
    margin: 0 0 15px;
    padding: 5px;
    text-align: center;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

/* Loaders */
[class^="loader-"],
[class*=" loader-"] {
    display: inline-block;
    width: 16px;
    height: 16px;
     margin-top: 1px;
    *margin-right: .3em;
    line-height: 16px;
    vertical-align: text-top;
    background-position: top left;
    background-repeat: no-repeat;
    background-size: 16px 16px;
}

.loader-01 { background-image: url('../img/loading.gifs/loading01.gif'); }
.loader-02 { background-image: url('../img/loading.gifs/loading02.gif'); }
.loader-03 { background-image: url('../img/loading.gifs/loading03.gif'); }
.loader-04 { background-image: url('../img/loading.gifs/loading04.gif'); }
.loader-05 { background-image: url('../img/loading.gifs/loading05.gif'); }
.loader-06 { background-image: url('../img/loading.gifs/loading06.gif'); }
.loader-07 { background-image: url('../img/loading.gifs/loading07.gif'); }
.loader-08 { background-image: url('../img/loading.gifs/loading08.gif'); }
.loader-09 { background-image: url('../img/loading.gifs/loading09.gif'); }
.loader-10 { background-image: url('../img/loading.gifs/loading10.gif'); }
.loader-11 { background-image: url('../img/loading.gifs/loading11.gif'); }
.loader-12 { background-image: url('../img/loading.gifs/loading12.gif'); }
.loader-13 { background-image: url('../img/loading.gifs/loading13.gif'); }
.loader-14 { background-image: url('../img/loading.gifs/loading14.gif'); }
.loader-15 { background-image: url('../img/loading.gifs/loading15.gif'); }
.loader-16 { background-image: url('../img/loading.gifs/loading16.gif'); }
.loader-17 { background-image: url('../img/loading.gifs/loading17.gif'); }
.loader-18 { background-image: url('../img/loading.gifs/loading18.gif'); }
.loader-19 { background-image: url('../img/loading.gifs/loading19.gif'); }
.loader-20 { background-image: url('../img/loading.gifs/loading20.gif'); }

/*
=================================================================
(#m06bos) BOOTSTRAP OVERWRITE + EXTEND STYLES
=================================================================
*/

/* Typography */
h1, h2, h3, h4, h5, h6, h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
    font-weight: 300;
}

.list {
    margin-top: 10px;
    margin-bottom: 10px;
}

.list li,
.list dt,
.list dd {
    margin-bottom: 5px;
}

.well {
    background-color: #f9f9f9;
}

.muted {
    color: #999;
}

a.muted:hover,
a.muted:focus {
    color: #999;
}

.text-warning {
    color: #fcbc4c;
}

a.text-warning:hover,
a.text-warning:focus {
    color: #fcbc4c;
}

.text-error {
    color: #fc4c4c;
}

a.text-error:hover,
a.text-error:focus {
    color: #fc4c4c;
}

.text-info {
    color: #4cb9fc;
}

a.text-info:hover,
a.text-info:focus {
    color: #4cb9fc;
}

.text-success {
    color: #b1cc16;
}

a.text-success:hover,
a.text-success:focus {
    color: #b1cc16;
}

.text-black {
    color: #000;
}

a.text-black:hover,
a.text-black:focus {
    color: #000;
}

/* Added !important to these bootstrap classes */
.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

.text-center {
    text-align: center !important;
}

/* Labels & Badges */
.label, .badge {
    font-size: 12px;
    background-color: #999;
    text-shadow: none;
    padding: 3px 4px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-indent: 0;
    margin-top: 1px;
    margin-bottom: 1px;
}

a.label:hover,
a.label:focus,
a.badge:hover,
a.badge:focus {
    opacity: 0.75;
    filter: alpha(opacity=75);
}

.label-important,
.badge-important {
    background-color: #fc4c4c;
}

.label-important[href],
.badge-important[href] {
    background-color: #fc4c4c;
}

.label-warning,
.badge-warning {
    background-color: #fcbc4c;
}

.label-warning[href],
.badge-warning[href] {
    background-color: #fcbc4c;
}

.label-success,
.badge-success {
    background-color: #b1cc16;
}

.label-success[href],
.badge-success[href] {
    background-color: #b1cc16;
}

.label-info,
.badge-info {
    background-color: #4cb9fc;
}

.label-info[href],
.badge-info[href] {
    background-color: #4cb9fc;
}

.label-inverse,
.badge-inverse {
    background-color: #555;
}

.label-inverse[href],
.badge-inverse[href] {
    background-color: #555;
}

.label-neutral,
.badge-neutral {
    background-color: #e9e9e9;
    color: #333;
}

a.badge-neutral:hover,
a.badge-neutral:focus,
a.label-neutral:hover,
a.label-neutral:focus {
    color: #333;
    background-color: #e9e9e9;
}

/* Alerts */
.alert {
    border: none;
    color: #805100;
    background-color: #fce1b1;
    text-shadow: none;
    margin-bottom: 15px;
}

.alert h4,
.alert h5,
.alert h6 {
    margin: 0 0 2px;
    color: #805100;
}

.alert-success {
    color: #598000;
    background-color: #e6fcb1;
}

.alert-success h4,
.alert-success h5,
.alert-success h6 {
    color: #598000;
}

.alert-info {
    color: #004f80;
    background-color: #b1dffc;
}

.alert-info h4,
.alert-info h5,
.alert-info h6 {
    color: #004f80;
}

.alert-danger,
.alert-error {
    color: #800000;
    background-color: #fcb1b1;
}

.alert-danger h4,
.alert-danger h5,
.alert-danger h6,
.alert-error h4,
.alert-error h5,
.alert-error h6 {
    color: #800000;
}

/* Dropdown */
.dropdown-menu {
    margin: 0 0 0;
    padding: 0;
    z-index: 1051;
    min-width: 100px;
    border: 2px solid #2980b9;
}

.dropdown-menu .divider {
    margin: 0;
    border-bottom: none;
}

.dropdown-menu .nav-header,
.dropdown-menu > li {
    padding: 0 10px;
    text-shadow: none;
}

.dropdown-menu > li > a {
    padding: 9px 12px 7px;
    margin: 0 -10px;
}

.dropdown-menu:before,
.dropdown-menu:after {
    display: none !important;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a,
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
    background: #eee;
    color: #000;
    filter: none;
}

.dropdown-submenu > a {
    padding-right: 20px !important;
}

.dropdown-submenu > .dropdown-menu {
    margin: -1px 0 0 0;
}

.dropup .dropdown-submenu > .dropdown-menu {
    margin: 0;
    bottom: -2px;
}

.dropup .dropdown-menu {
    margin-bottom: 0;
}

.btn-group > .btn, .btn-group > .dropdown-menu, .btn-group > .popover {
    font-size: 13px;
}

/* Navbar */
.navbar .navbar-inner,
.navbar-inverse .navbar-inner {
    border: none;
    padding: 0;
    filter: none;
}

.navbar .navbar-inner {
    background: #ddd;
}

.navbar-inverse .navbar-inner {
    background: #2980b9;
}

.navbar .brand,
.navbar-inverse .brand {
    margin: 0;
    line-height: normal;
    padding: 7px 10px 0;
    text-shadow: none;
}

.navbar-inverse .brand {
    color: #fff;
}

header.navbar .brand,
header.navbar-inverse .brand {
    width: 109px;
    display: inline-block;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
    float: none;
}

.navbar .divider-vertical,
.navbar-inverse .divider-vertical {
    border-right-color: #fff;
    border-left-color: #fff;
    opacity: 0.20;
    filter: alpha(opacity=20);
}

.navbar .nav > li > a {
    text-shadow: none;
}

.navbar-inverse .nav > li > a {
    color: #fff;
}

.navbar .nav > li > a:hover,
.navbar .nav > li > a:active,
.navbar .nav > li > a:focus,
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus,
.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle {
    background-color: #eee;
    color: #333;
}

.navbar-inverse .nav > li > a:hover,
.navbar-inverse .nav > li > a:active,
.navbar-inverse .nav > li > a:focus,
.navbar-inverse .nav > .active > a,
.navbar-inverse .nav > .active > a:hover,
.navbar-inverse .nav > .active > a:focus,
.navbar-inverse .nav li.dropdown.open > .dropdown-toggle,
.navbar-inverse .nav li.dropdown.active > .dropdown-toggle,
.navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle {
    background-color: #555;
    color: #fff;
}

.navbar .nav > li > a:focus,
.navbar-inverse .nav > li > a:focus {
    background: none;
    outline: none;
}

.navbar-search {
    margin-top: 3px;
}

.navbar a > .badge {
    padding: 2px 5px;
    position: absolute;
    top: 2px;
    right: 2px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.navbar .dropdown-menu {
    border-color: #ddd;
    border-top-width: 0;
}

.navbar-inverse .dropdown-menu {
    border-color: #2980b9;
    border-top-width: 0;
}

.navbar-fixed-bottom .dropdown .dropdown-menu {
    border-top-width: 2px;
    border-bottom-width: 0;
}

/* Nav Pills and Tabs */
.nav > li > a > i {
    font-size: 14px;
}

.nav-pills > li > a,
.nav-pills.nav-stacked > li > a,
.nav-tabs > li > a,
.nav-tabs.nav-stacked > li > a {
    margin: 0;
    padding: 12px 14px;
}

.nav-pills > .active > a,
.nav-pills > .active > a:hover,
.nav-pills > .active > a:focus {
    background-color: #2980b9;
}

.tab-content {
    border: 1px solid #ddd;
    border-top: none;
    padding: 12px;
    margin: -20px 0 0;
    background: #fff;
}

.tab-content-default {
    border: none;
    padding: 0;
    margin: 0;
}

.tabs-left .tab-content,
.tabs-right .tab-content {
    border: none;
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.tabs-left .tab-content {
    padding: 0 0 0 20px;
}

.tabs-right .tab-content {
    padding: 0 20px 0 0;
}

/* Breadcrump */
.breadcrumb {
    padding: 10px 10px 7px;
    margin-bottom: 20px;
    background-color: #f0f0f0;
}

.breadcrumb > li {
    text-shadow: none;
}

.breadcrumb > li > .divider {
    color: #ccc;
}

.breadcrumb-top {
    background-color: #f9f9f9;
    padding: 8px 20px 6px;
    margin: -21px -20px 20px;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}

/* Pagination */
.pagination ul > .active > a,
.pagination ul > .active > a:hover,
.pagination ul > .active > span {
    color: #fff;
    background-color: #2980b9;
    border: 1px solid #2980b9;
}

.pagination-large ul > li > a,
.pagination-large ul > li > span {
  padding: 10px 15px;
}

/* Media */
.media {
    padding: 15px 10px;
    margin: 0;
}
.media-hover:hover {
    background: #eee;
}

/* Modals */
.modal {
    border: 3px solid #2980b9;
}

.modal-header {
    padding: 2px 10px;
    background: #2980b9;
    color: #fff;
}

.modal-footer {
    padding: 10px;
    background-color: #f4f4f4;
    border-top: none;
}

.modal-footer .btn + .btn {
    margin-bottom: 1px;
}

/* Carousel */
.carousel {
    border: 3px solid #2980b9;
    padding: 5px;
    margin-bottom: 15px;
}

.carousel-indicators.left {
    left: 10px;
}

.carousel-indicators li {
    cursor: pointer;
    background-color: #999;
}

.carousel-control {
    left: 0;
    width: auto;
    height: auto;
    padding: 6px 20px 6px 15px;
    font-size: 48px;
    line-height: 60px;
    font-weight: bold;
    background-color: #2980b9;
    border: none;
    opacity: 0.1;
    filter: alpha(opacity=10);
}

.carousel-control.right {
    right: 0;
}

.carousel-control:hover,
.carousel-control:focus {
    opacity: 1;
    filter: alpha(opacity=100);
}

/* Tooltip */
.tooltip {
    font-size: 13px;
    z-index: 1052;
}

.tooltip.in {
    opacity: 1;
    filter: alpha(opacity=100);
}

.tooltip-inner {
    padding: 8px;
    background-color: #333;
}

.tooltip.top .tooltip-arrow {
    border-top-color: #333;
}

.tooltip.right .tooltip-arrow {
    border-right-color: #333;
}

.tooltip.left .tooltip-arrow {
    border-left-color: #333;
}

.tooltip.bottom .tooltip-arrow {
    border-bottom-color: #333;
}

.tooltip.top {
    margin-top: -13px;
}

.tooltip.right {
    margin-left: 13px;
}

.tooltip.bottom {
    margin-top: 13px;
}

.tooltip.left {
    margin-left: -13px;
}

/* Forms */
label, input, button, select, textarea {
    font-size: 13px;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input,
.input-append .add-on,
.input-prepend .add-on {
    margin-top: 1px;
    margin-bottom: 1px;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
    text-shadow: none;
    -webkit-appearance: none;
}

select {
    -webkit-appearance: menulist;
}

select[multiple] {
    -webkit-appearance: none;
}

select:focus,
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    border-color: #555;
}

.radio input[type="radio"], .checkbox input[type="checkbox"] {
    margin-top: 2px;
}

textarea {
    max-width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.textarea-medium {
    width: 60%;
    min-width: 250px;
}

.textarea-large {
    width: 100%;
}

span.add-on {
    background-color: #f9f9f9 !important;
    line-height: 22px !important;
}

.uneditable-textarea {
    width: 206px;
}

.uneditable-input {
    background-color: #f6f6f6;
}

.form-inline,
.form-horizontal {
    margin: 0;
}

.form-inline .control-group,
.form-horizontal .control-group {
    margin-bottom: 0;
}

.form-inline .control-label {
    padding: 5px 0 0 0;
}

.form-horizontal .control-label {
    padding: 10px 0 0 5px;
}

.form-inline .controls {
    padding: 5px 0 5px 0;
}

.form-horizontal .controls {
    padding: 5px;
}

.form-inline .form-actions,
.form-horizontal .form-actions {
    margin: 0;
    padding: 15px 10px 10px 185px;
    background: none;
    border: none;
}

.form-inline .form-actions {
    padding: 15px 0 10px;
}

.form-bordered .control-group {
    border-bottom: 1px solid #ddd;
}

.form-horizontal.form-bordered .control-label {
    padding: 15px 0 0 10px;
}

.form-inline.form-bordered .control-label {
    padding: 10px 0 0 10px;
}

.form-horizontal.form-bordered .controls {
    border-left: 1px solid #ddd;
    padding: 10px;
}

.form-inline.form-bordered .controls {
    padding: 0 20px 10px;
}

.form-inline.form-bordered .form-actions {
    padding-left: 20px;
}

.form-labels .control-group {
    background-color: #f9f9f9;
}

.form-labels .controls {
    background-color: #fff;
}

.help-block, .help-inline {
    color: #777;
}

.control-group.warning .control-label,
.control-group.warning .help-block,
.control-group.warning .help-inline,
.control-group.warning .checkbox,
.control-group.warning .radio,
.control-group.warning input,
.control-group.warning select,
.control-group.warning textarea {
    color: #edb047;
}

.control-group.warning input,
.control-group.warning select,
.control-group.warning textarea {
    border-color: #edb047;
}

.control-group.warning .input-prepend .add-on,
.control-group.warning .input-append .add-on {
    color: #edb047;
    background-color: #fce1b1;
    border-color: #edb047;
}

.control-group.error .control-label,
.control-group.error .help-block,
.control-group.error .help-inline,
.control-group.error .checkbox,
.control-group.error .radio,
.control-group.error input,
.control-group.error select,
.control-group.error textarea {
    color: #ed4747;
}

.control-group.error input,
.control-group.error select,
.control-group.error textarea {
    border-color: #ed4747;
}

.control-group.error .input-prepend .add-on,
.control-group.error .input-append .add-on {
    color: #ed4747;
    background-color: #fcb1b1;
    border-color: #ed4747;
}

.control-group.success .control-label,
.control-group.success .help-block,
.control-group.success .help-inline,
.control-group.success .checkbox,
.control-group.success .radio,
.control-group.success input,
.control-group.success select,
.control-group.success textarea {
    color: #9bb314;
}

.control-group.success input,
.control-group.success select,
.control-group.success textarea {
    border-color: #9bb314;
}

.control-group.success .input-prepend .add-on,
.control-group.success .input-append .add-on {
    color: #9bb314;
    background-color: #e6fcb1;
    border-color: #9bb314;
}

.control-group.info .control-label,
.control-group.info .help-block,
.control-group.info .help-inline,
.control-group.info .checkbox,
.control-group.info .radio,
.control-group.info input,
.control-group.info select,
.control-group.info textarea {
    color: #47aeed;
}

.control-group.info input,
.control-group.info select,
.control-group.info textarea {
    border-color: #47aeed;
}

.control-group.info .input-prepend .add-on,
.control-group.info .input-append .add-on {
    color: #47aeed;
    background-color: #b1dffc;
    border-color: #47aeed;
}

.control-group.warning input:focus,
.control-group.warning select:focus,
.control-group.warning textarea:focus,
.control-group.error input:focus,
.control-group.error select:focus,
.control-group.error textarea:focus,
.control-group.success input:focus,
.control-group.success select:focus,
.control-group.success textarea:focus,
.control-group.info input:focus,
.control-group.info select:focus,
.control-group.info textarea:focus {
    border-color: #555;
}

/* Tables + DataTables */
.table {
    margin-bottom: 20px;
}

.table th,
.table td {
    border-color: #eee;
    vertical-align: middle;
}

.table tr:first-child td {
    border-top: none;
}

.table tr td:first-child {
    border-left: none;
}

.table th {
    background: #2980b9;
    color: #fff;
    padding: 12px 8px;
    font-weight: 300;
    font-size: 15px;
}

.table tbody th {
    background-color: #eee;
    color: #333;
}

.table tbody th,
.table tbody td {
    padding: 12px 8px 8px;
}

.table-condensed thead th {
    padding-left: 5px;
    padding-right: 5px;
}

.table-condensed tbody th,
.table-condensed tbody td {
    padding: 2px 5px 1px;
}

.table-bordered {
    border: 2px solid #2980b9;
    border-top: none;
}

.table-bordered thead th {
    border: none;
    color: #fff;
    background-color: #2980b9;
}

.table-bordered th,
.table-bordered td {
    border-color: #ddd;
}

.table-bordered th {
    background-color: #ddd;
    color: #333;
}

.table-borderless th,
.table-borderless td {
    border-top: none;
}

.table-hover tbody tr:hover > td,
.table-hover tbody tr:hover > th {
    background-color: #f1f1f1;
}

.table tbody tr.success > td {
    background-color: #f1fcd7;
}

.table tbody tr.error > td {
    background-color: #fcd7d7;
}

.table tbody tr.warning > td {
    background-color: #fcefd7;
}

.table tbody tr.info > td {
    background-color: #d7eefc;
}

.table-hover tbody tr.success:hover > td {
    background-color: #e6fcb1;
}

.table-hover tbody tr.error:hover > td {
    background-color: #fcb1b1;
}

.table-hover tbody tr.warning:hover > td {
    background-color: #fce1b1;
}

.table-hover tbody tr.info:hover > td {
    background-color: #b1dffc;
}

.dataTables_wrapper > div {
    background-color: #f9f9f9;
    padding: 8px 0 3px;
    width: auto;
    border: 1px solid #ddd;
    border-top-width: 0;
}

.dataTables_wrapper > div:first-child input[type="text"] {
    width: 150px;
}

.dataTables_wrapper > div:first-child {
    border-top-width: 1px;
    border-bottom-width: 0;
}

.dataTables_length label {
    float: left;
    text-align: left;
}

.dataTables_length select {
    width: 55px;
    padding-left: 2px;
    padding-right: 2px;
    margin: 0 0 0 10px;
}

.dataTables_filter label {
    float: right;
    margin: 0 10px 0 0;
}

.dataTables_info {
    padding-top: 5px;
    margin: 0 0 0 10px;
}

.dataTables_paginate {
    float: right;
    margin: 0 10px 0 0;
}

table.table thead .sorting,
table.table thead .sorting_asc,
table.table thead .sorting_desc,
table.table thead .sorting_asc_disabled,
table.table thead .sorting_desc_disabled {
    cursor: pointer;
    *cursor: hand;
}

.table thead .sorting,
.table thead .sorting_asc,
.table thead .sorting_desc,
.table thead .sorting_asc_disabled,
.table thead .sorting_desc_disabled {
    background-position: center right;
    background-repeat: no-repeat;
    background-size: 19px 19px;
}

.table thead .sorting { background-image: url('../img/jquery.datatables/sort_both.png'); }
.table thead .sorting_asc { background-image: url('../img/jquery.datatables/sort_asc.png'); }
.table thead .sorting_desc { background-image: url('../img/jquery.datatables/sort_desc.png'); }
.table thead .sorting_asc_disabled { background-image: url('../img/jquery.datatables/sort_asc_disabled.png'); }
.table thead .sorting_desc_disabled { background-image: url('../img/jquery.datatables/sort_desc_disabled.png'); }

.dataTable {
	clear: both;
	margin-bottom: 0 !important;
	max-width: none !important;
}

.dataTable th:active {
	outline: none;
}

.dataTables_scrollHead table {
	margin-bottom: 0 !important;
}

.dataTables_scrollBody table {
	border-top: none;
	margin-bottom: 0 !important;
}

.dataTables_scrollBody tbody tr:first-child th,
.dataTables_scrollBody tbody tr:first-child td {
	border-top: none;
}

.dataTables_scrollFoot table {
	border-top: none;
}

/* Buttons */
.btn {
    filter: none;
    text-shadow: none;
    background: #eee;
    border-width: 1px;
    border-style: solid;
    border-color: #ccc;
    margin-top: 1px;
    margin-bottom: 1px;
}

.btn:hover,
.btn:focus,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
    background-color: #ccc;
}

.btn-primary {
    background: #4c82fc;
    border-color: #425edb;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
    background: #425edb;
}

.btn-success {
    background: #b1cc16;
    border-color: #94ab13;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
    background: #94ab13;
}

.btn-danger {
    background: #fc4c4c;
    border-color: #dd0000;
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.btn-danger.disabled,
.btn-danger[disabled] {
    background: #dd0000;
}

.btn-warning {
    background: #faa732;
    border-color: #e78700;
}

.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.btn-warning.disabled,
.btn-warning[disabled] {
    background: #e78700;
}

.btn-info {
    background: #4cb9fc;
    border-color: #42a0db;
}

.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] {
    background: #42a0db;
}

.btn-inverse {
    background: #999;
    border-color: #555;
}

.btn-inverse:hover,
.btn-inverse:focus,
.btn-inverse:active,
.btn-inverse.active,
.btn-inverse.disabled,
.btn-inverse[disabled] {
    background: #555;
}

.btn-link {
    background: transparent;
    border-color: transparent !important;
}

.btn-link:hover,
.btn-link:focus,
.btn-link:active,
.btn-link.active,
.btn-link.disabled,
.btn-link[disabled] {
    background: transparent;
}

.btn:active,
.btn.active,
.btn-primary:active,
.btn-primary.active,
.btn-success:active,
.btn-success.active,
.btn-danger:active,
.btn-danger.active,
.btn-warning:active,
.btn-warning.active,
.btn-info:active,
.btn-info.active,
.btn-inverse:active,
.btn-inverse.active {
    opacity: 0.75;
    filter: alpha(opacity=75);
}

.btn.disabled,
.btn[disabled] {
    border-color: transparent !important;
}

.btn-group.open .btn.dropdown-toggle {
    background: #ccc;
}

.btn-group.open .btn-primary.dropdown-toggle {
    background: #425edb;
}

.btn-group.open .btn-success.dropdown-toggle {
    background: #94ab13;
}

.btn-group.open .btn-danger.dropdown-toggle {
    background: #dd0000;
}

.btn-group.open .btn-warning.dropdown-toggle {
    background: #e78700;
}

.btn-group.open .btn-info.dropdown-toggle {
    background: #42a0db;
}

.btn-group.open .btn-inverse.dropdown-toggle {
    background: #555;
}

/* Popover */
.popover {
    z-index: 1052;
    padding: 0;
    border: 2px solid #2980b9;
}

.popover-title {
    margin: 0;
    padding: 7px 10px;
    color: #fff;
    font-weight: bold;
    background-color: #2980b9;
    border-bottom: none;
}

.popover-content {
    padding: 7px 10px;
}

.popover.top .arrow {
    bottom: -13px;
    border-top-color: #2980b9;
}

.popover.top .arrow:after {
    border-top-color: #2980b9;
}

.popover.right .arrow {
    left: -13px;
    border-right-color: #2980b9;
}

.popover.right .arrow:after {
    border-right-color: #2980b9;
}

.popover.bottom .arrow {
    border-bottom-color: #2980b9;
    top: -13px;
}
.popover.bottom .arrow:after {
    border-bottom-color: #2980b9;
}

.popover.left .arrow {
    right: -13px;
    border-left-color: #2980b9;
}

.popover.left .arrow:after {
    border-left-color: #2980b9;
}

/* Close */
.close {
    text-shadow: none;
    opacity: 0.4;
    filter: alpha(opacity=40);
}

.close:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}

/* Progress */
.progress {
    margin-bottom: 10px;
}

.progress .bar {
    text-shadow: none;
    -webkit-transition: width 0.3s ease;
    -moz-transition: width 0.3s ease;
    -o-transition: width 0.3s ease;
    transition: width 0.3s ease;
}

.progress-danger .bar,
.progress .bar-danger {
    background-color: #fc4c4c;
    background-image: none;
    filter: none;
}

.progress-danger.progress-striped .bar,
.progress-striped .bar-danger {
    background-color: #fc4c4c;
}

.progress-success .bar,
.progress .bar-success {
    background-color: #b1cc16;
    background-image: none;
    filter: none;
}

.progress-success.progress-striped .bar,
.progress-striped .bar-success {
    background-color: #b1cc16;
}

.progress-info .bar,
.progress .bar-info {
    background-color: #4cb9fc;
    background-image: none;
    filter: none;
}

.progress-info.progress-striped .bar,
.progress-striped .bar-info {
    background-color: #4cb9fc;
}

.progress-warning .bar,
.progress .bar-warning {
    background-color: #fcbc4c;
    background-image: none;
    filter: none;
}

.progress-warning.progress-striped .bar,
.progress-striped .bar-warning {
    background-color: #fcbc4c;
}

.progress-mini {
    height: 10px;
    margin: 5px 0;
}

.progress-big {
    height: 30px;
    margin: 5px 0;
}

.progress-big .bar {
    font-size: 18px;
    line-height: 30px;
}

/* Links */
a {
    color: #2980b9;
}

a:hover,
a:active,
a:focus {
    color: #2980b9;
}

/* Remove Radius */
.pager li > a,
.pager li > span,
.nav-tabs > li > a,
.nav-pills > li > a,
.accordion-group,
.label,
.well,
.alert,
.breadcrumb,
.modal,
.progress,
.popover,
.thumbnail,
.dropdown-menu,
.table-bordered,
.table-bordered th,
.table-bordered td,
.add-on,
.btn,
.carousel-control,
.tooltip-inner,
.navbar .navbar-inner,
.navbar-inverse .navbar-inner,
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input,
.pagination ul > li:first-child > a,
.pagination ul > li:first-child > span,
.pagination ul > li:last-child > a,
.pagination ul > li:last-child > span,
.popover-title {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}

/* Remove Box Shadow */
.btn,
.popover,
textarea,
.pagination ul,
.dropdown-menu,
.thumbnails-borderless a.thumbnail,
.thumbnails-borderless a.thumbnail:hover,
.thumbnails-borderless a.thumbnail:focus,
a.thumbnail-borderless:hover,
a.thumbnail-borderless:focus,
a.thumbnail-borderless,
.navbar .navbar-inner,
.navbar-inverse .navbar-inner,
.navbar-inverse .nav > li > a:hover,
.navbar-inverse .nav > li > a:active,
.navbar-inverse .nav > li > a:focus,
.navbar-inverse .nav > .active > a,
.navbar-inverse .nav > .active > a:hover,
.navbar-inverse .nav > .active > a:focus,
.navbar-inverse .nav li.dropdown.open > .dropdown-toggle,
.navbar-inverse .nav li.dropdown.active > .dropdown-toggle,
.navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle,
.navbar .nav > li > a:hover,
.navbar .nav > li > a:active,
.navbar .nav > li > a:focus,
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus,
.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle,
.modal-footer,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input,
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus,
input:focus:invalid:focus,
textarea:focus:invalid:focus,
select:focus:invalid:focus {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

/*
=================================================================
(#m07hes) HELPERS
=================================================================
*/

.push {
    margin-bottom: 20px !important;
}

.lt-ie9 .hidden-lt-ie9 {
    display: none;
}

.display-none {
    display: none;
}

.remove-margin {
    margin: 0 !important;
}

.remove-padding {
    padding: 0 !important;
}

.remove-radius {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}

.remove-box-shadow {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

.remove-transition {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}

/*
=================================================================
(#m08res) RESPONSIVE
=================================================================
*/

/* Mobile up to landscape tablet */
@media (max-width: 979px) {

    #login-container {
        padding: 205px 0 10px 0;
    }

    .login-btn {
        top: 175px;
    }

    .login-btn.login-animate {
        top: 20px;
    }

    #page-container,
    .landing-container {
        padding: 0 !important;
        width: 100%;
    }

    header.navbar {
        box-shadow: none !important;
    }

    .header-fixed-bottom header.navbar {
        border: none;
        border-bottom: 2px solid #555;
    }

    .header-fixed-top header .dropdown .dropdown-menu {
        margin-top: 2px;
    }

    .header-fixed-bottom header .dropdown .dropdown-menu {
        margin-top: 2px;
        margin-bottom: 0;
        border-top-width: 0;
        border-bottom-width: 2px;
        top: 100%;
        bottom: auto;
    }

    .header-fixed-top .affix {
        top: 0;
    }

    .full-width .affix {
        margin-left: 0 !important;
    }

    #top-search {
        left: 50px;
    }

    #top-search input[type=text] {
        width: 70px;
    }

    #top-search input[type=text]:focus {
        width: 220px;
    }

    #page-sidebar {
        width: 100%;
        background: #ddd;
        border: none;
        z-index: 1050;
        position: relative !important;
        display: block !important;
        top: auto !important;
        bottom: auto !important;
    }

    #pre-page-content, #page-content, footer {
        margin: 0;
        border-left: none;
    }

    .nav-collapse .navbar-form, .nav-collapse .navbar-search {
        border: none;
    }

    .nav-collapse .nav > li > a,
    .nav-collapse .dropdown-menu a {
        padding: 9px 15px;
        font-weight: bold;
        color: #777777;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
    }

    .navbar-inverse .nav-collapse .nav-header,
    .navbar-inverse .nav-collapse a {
        color: #fff !important;
    }

    .navbar-inverse .nav-collapse .nav > li > a:hover,
    .navbar-inverse .nav-collapse .nav > li > a:focus,
    .navbar-inverse .nav-collapse .dropdown-menu a:hover,
    .navbar-inverse .nav-collapse .dropdown-menu a:focus {
        background-color: #4b4b4b;
        color: #fff;
    }

    .tile,
    .tile-width-2x,
    .tile-width-2x > i,
    .tile-height-2x > i,
    .tile .tile-info,
    .tile-width-2x .tile-info,
    .tile-height-2x .tile-info {
        width: 120px;
    }

    .tile,
    .tile-width-2x,
    .tile-height-2x {
        height: 120px;
    }

    .tile > i,
    .tile-width-2x > i,
    .tile-height-2x > i {
        padding: 20px 0 0;
    }

    .tile-height-2x > i[class^="glyphicon-"],
    .tile-height-2x > i[class*=" glyphicon-"],
    .tile-height-2x > i[class^="halfling-"],
    .tile-height-2x > i[class*=" halfling-"] {
        padding: 7px 0 0;
    }

    .tile-height-2x > i[class^="social-"],
    .tile-height-2x > i[class*=" social-"],
    .tile-height-2x > i[class^="filetype-"],
    .tile-height-2x > i[class*=" filetype-"] {
        padding: 16px 0 0;
    }

    .landing-header .promo-image {
        padding-top: 50px;
    }

    .landing-header .promo-image img {
        width: 300px;
    }
}

/* Mobile up to portrait tablet */
@media (max-width: 767px) {

    .login-btn {
        top: 75px;
    }

    body.login input[type="text"],
    body.login input[type="password"] {
        width: 225px;
    }

    body {
        padding: 0;
    }

    #top-search {
        left: 0;
    }

    #top-search input[type=text]:focus {
        width: 180px;
    }

    #pre-page-content, #page-content {
        padding: 10px;
    }

    #pre-page-content h1 {
        font-size: 26px;
    }

    #pre-page-content h1 small {
        font-size: 16px;
    }

    .breadcrumb-top {
        margin: -11px -10px 10px;
    }

    .block,
    .breadcrumb,
    .block-section,
    .table {
        margin-bottom: 10px;
    }

    .block.block-tiles {
        margin-bottom: 4px;
    }

    .block-content {
        padding: 15px 15px 5px;
    }

    .block-content.full,
    .block-tabs > .tab-content,
    .block-tabs.block-themed > .tab-content {
        padding: 15px;
    }

    p,
    .block .block,
    .grid-boxes > div,
    .row-items div[class^="span"],
    .push,
    .alert,
    .carousel,
    pre[class*="language-"] {
        margin: 0 0 10px;
    }

    .tile,
    .tile-width-2x,
    .tile-width-2x > i,
    .tile-height-2x > i {
        width: 127px;
    }

    .tile,
    .tile-width-2x,
    .tile-width-2x > i,
    .tile-height-2x > i,
    .tile .tile-info,
    .tile-width-2x .tile-info,
    .tile-height-2x .tile-info {
        width: 127px;
    }

    .tile,
    .tile-width-2x,
    .tile-height-2x {
        height: 127px;
    }

    .tile > i,
    .tile-width-2x > i,
    .tile-height-2x > i {
        padding: 20px 0 0;
    }

    .modal-body {
        max-height: 180px;
    }

    header.navbar {
        border-bottom: none !important;
    }

    .login header.navbar {
        border-bottom: 1px solid #333 !important;
    }

    header.navbar .dropdown-menu {
        margin-top: 0 !important;
    }

    #header-nav-section {
        background-color: #444;
    }

    .page-header,
    .sub-header {
        margin: 10px 0;
    }

    .chart-live {
        height: 300px;
    }

    .fc-header-title h2 {
        font-size: 1.1em;
    }

    .tabs-left .tab-content,
    .tabs-right .tab-content {
        padding: 0;
    }

    .tabs-left > .nav-tabs,
    .tabs-right > .nav-tabs {
        border: none;
        float: none;
        margin: 0 0 20px;
    }

    .tabs-left > .nav-tabs > li > a,
    .tabs-right > .nav-tabs > li > a {
        border: 1px solid #fff;
        margin-right: 0;
    }

    .tabs-left > .nav-tabs > li > a:hover,
    .tabs-right > .nav-tabs > li > a:hover {
        border: 1px solid #fff;
    }

    .tabs-left > .nav-tabs > .active > a,
    .tabs-right > .nav-tabs > .active > a,
    .tabs-left > .nav-tabs > .active > a:hover,
    .tabs-right > .nav-tabs > .active > a:hover {
        border: 1px solid #ddd;
    }

    .inbox-menu,
    .inbox-list,
    .inbox-msg {
        padding-left: 0;
        padding-right: 0;
        display: block;
        width: 100%;
    }

    .inbox-menu,
    .inbox-list ul {
        height: 250px;
        overflow-y: scroll;
    }

    .inbox-menu {
        border-bottom: 2px solid #999;
    }

    .inbox-list {
        padding: 10px 0 0;
        border-bottom: 2px solid #999;
    }

    .inbox-list .inbox-search {
        margin: 0 10px 10px;
    }

    .inbox-list ul {
        border-top: 2px solid #999;
    }

    .chat-people {
        width: 180px;
    }

    .error-container.standalone {
        margin-top: 0;
    }
}

/* Landscape phones and down */
@media (max-width: 480px) {

    #pre-page-content h1 i {
        display: none;
    }

    .timeline {
        margin: 0 0 0 50px;
        padding: 0 0 0 10px;
    }

    .timeline li {
        padding: 10px;
    }

    .timeline-avatar {
        margin: 0 0 10px;
        float: none;
    }

    .timeline-meta-cat {
        left: -58px;
    }

    .timeline-meta-time {
        float: right;
        top: auto;
        left: auto;
        width: auto;
        height: 20px;
        padding: 0;
        line-height: 20px;
        position: static;
    }

    .form-actions {
        padding-left: 5px !important;
    }

    .plan-featured {
        border-width: 5px;
    }

    header .media .pull-right {
        float: right;
        margin-bottom: 0;
    }

    header .media .pull-left {
        float: left;
        margin-bottom: 0;
    }

    #top-search input[type=text]:focus {
        width: 300px;
    }

    .help-inline {
        padding-top: 5px;
        display: block !important;
    }

    .fc-header td {
        display: block;
    }

    .fc-header-right {
        padding-left: 10px;
    }

    .error-container {
        padding: 10px;
    }

    .chat-people {
        border-bottom: 2px solid #999;
    }

    .chat-people {
        height: 200px;
        float: none;
        width: auto;
    }

    .chat-messages {
        height: 300px;
    }

    .landing-header .promo-text h3 {
        font-size: 20px;
        line-height: 1.7;
    }
}

/*
=================================================================
(#m09rts) RETINA
=================================================================
*/

/* Put your high resolution backgrounds here */
@media only screen and (-Webkit-min-device-pixel-ratio: 1.5),
only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5) {

    body { background-image: url('../img/template/bg@2x.png'); }

    .table thead .sorting { background-image: url('../img/jquery.datatables/sort_both@2x.png'); }
    .table thead .sorting_asc { background-image: url('../img/jquery.datatables/sort_asc@2x.png'); }
    .table thead .sorting_desc { background-image: url('../img/jquery.datatables/sort_desc@2x.png'); }
    .table thead .sorting_asc_disabled { background-image: url('../img/jquery.datatables/sort_asc_disabled@2x.png'); }
    .table thead .sorting_desc_disabled { background-image: url('../img/jquery.datatables/sort_desc_disabled@2x.png'); }

    .loader-01 { background-image: url('../img/loading.gifs/loading01@2x.gif'); }
    .loader-02 { background-image: url('../img/loading.gifs/loading02@2x.gif'); }
    .loader-03 { background-image: url('../img/loading.gifs/loading03@2x.gif'); }
    .loader-04 { background-image: url('../img/loading.gifs/loading04@2x.gif'); }
    .loader-05 { background-image: url('../img/loading.gifs/loading05@2x.gif'); }
    .loader-06 { background-image: url('../img/loading.gifs/loading06@2x.gif'); }
    .loader-07 { background-image: url('../img/loading.gifs/loading07@2x.gif'); }
    .loader-08 { background-image: url('../img/loading.gifs/loading08@2x.gif'); }
    .loader-09 { background-image: url('../img/loading.gifs/loading09@2x.gif'); }
    .loader-10 { background-image: url('../img/loading.gifs/loading10@2x.gif'); }
    .loader-11 { background-image: url('../img/loading.gifs/loading11@2x.gif'); }
    .loader-12 { background-image: url('../img/loading.gifs/loading12@2x.gif'); }
    .loader-13 { background-image: url('../img/loading.gifs/loading13@2x.gif'); }
    .loader-14 { background-image: url('../img/loading.gifs/loading14@2x.gif'); }
    .loader-15 { background-image: url('../img/loading.gifs/loading15@2x.gif'); }
    .loader-16 { background-image: url('../img/loading.gifs/loading16@2x.gif'); }
    .loader-17 { background-image: url('../img/loading.gifs/loading17@2x.gif'); }
    .loader-18 { background-image: url('../img/loading.gifs/loading18@2x.gif'); }
    .loader-19 { background-image: url('../img/loading.gifs/loading19@2x.gif'); }
    .loader-20 { background-image: url('../img/loading.gifs/loading20@2x.gif'); }
}