﻿@using WebEducaStore.Utils
@model WebEducaStore.ViewModels.CartListVM

@for(int i = 0; i < Model.Content.Count; i++)
{
  string htmlTableRow = "itemrow-" + @Model.Content[i].id;
  <tr id="@htmlTableRow">
      <td class="span1 text-center">
          <a href="javascript:removeItem(@Model.Content[i].id, @Model.cartId)" @*data-toggle="tooltip"*@ title="Quitar producto">
              <img src="~/Images/removefromcart.png" />
          </a>
      </td>
      <td class="text-center" style="padding: 3px 2px;margin: auto auto">
      @if (Utility.VerifyImage(Model.Content[i].image_path))
          {
              <!-- Just a link with the href of the large image and a data-toggle attribute with the value lightbox-image -->
              <a href="@Model.Content[i].image_path" data-toggle="lightbox-image">
                  <img src="@Model.Content[i].image_path" width="64" height="64" class="media-object img-rounded pull-left" alt="Image" style="max-width: 64px; max-height: 64px">
              </a>
          }
          else
          {
              <img src="~/Images/educatablet_header.png" width="64" height="64" class="media-object img-rounded pull-left" alt="Image" style="max-width: 64px; max-height: 64px">
              }
          </td>
        <td class="span6">
            <strong>@Model.Content[i].title</strong><br>
        @*Publicada su primera parte con el título de El ingenioso hidalgo don Quijote de la Mancha a comienzos de 1605, es una de las obras más des...<br>*@
        <em>@Model.Content[i].author</em><br>

                                        @*     @foreach(var catalog in Model.Content[i].Catalogs)
    {
    string stringColor = @Model.catalogColors[catalog.ID_CATALOG];
    <span class="badge" style="background-color:@stringColor">@catalog.DESCRIPCION</span>
    }
    *@

        </td>
      <td class="span2">@Model.Content[i].publisher</td>
    <td class="span2">
      @if(Model.Content[i].alreadyBought)
      {
        <span class="label label-important"><i class="icon-warning-sign"></i>&nbsp;¡Ya adquirido!</span>
      }
      else
      {
        <span class="label label-success"><i class="icon-ok"></i>&nbsp;Disponible</span>
      }
    </td>
    <td class="span1 text-center">
      @Model.Content[i].quantity
    </td>
    <td class="text-right">
      <span class="text-black">@ViewHelpers.SetQuantityOuput(Convert.ToDecimal(Model.Content[i].pricing.FinalAmount))</span>
    </td>
  </tr>
}