﻿@model List<WebEducaStore.ViewModels.ContentVM>

<ul class="icons-ul list">
  @foreach(var content in Model)
  {
    <li>
      <i class="icon-li icon-book"></i>@content.title
      <ul class="icons-ul">
        @if(!String.IsNullOrEmpty(content.author))
        {
          <li><i class="icon-li icon-ok"></i><b>Autor:</b> @content.author</li>
        }
        @if(!String.IsNullOrEmpty(content.publisher))
        {
          <li><i class="icon-li icon-ok"></i><b>Editorial:</b> @content.publisher</li>
        }
      </ul>
    </li>
  }
</ul>
