﻿@model WebEducaStore.ViewModels.CheckoutVM

@{
  ViewBag.Title = "CheckoutSum";
}


@*List free contents, indicating if they order were successfuly or not*@
@{
  if(Model.contentWithoutPriceSuccess)
  {
  <div class="block">
    <div class="block-title">
      <h4 class="text-success">Productos satisfactoriamente adquiridos disponibles para su uso:</h4>
    </div>
    <div class="block-content full">
      @Html.Partial("_listOrderedItems", Model.contentWithoutPrice)
    </div>
  </div>
  }
  else
  {
  <div class="block">
    <div class="block-title">
      <h4 class="text-warning">No fue posible procesar los siguientes productos:</h4>
    </div>
    <div class="block-content full">
      @Html.Partial("_listOrderedItems", Model.contentWithoutPrice)
    </div>
  </div>
  }
}


<br />
<a href="@Url.Action("ListProducts", "Content", new { })"><i class="glyphicon-unshare text-info"></i>&nbsp;Volver a la tienda</a>
