﻿@model WebEducaStore.ViewModels.CartListVM

@{
	ViewBag.Title = "Carrito";
	ViewBag.MainHeader = "Carrito de compras";
	ViewBag.MainIcon = "glyphicon-shopping_cart themed-color";
}

<!-- div to replace with message from ajax -->
<div id="alertMessage">
	@{
		if (Model.errorMessage != null)
		{
		<div class="@Model.errorClass">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			@Model.errorMessage
		</div>
		}
	}
</div>

@{
	if (!Model.Content.Any())
	{
	@:<h4 class="sub-header">No posee contenidos en el carrito de compras. <a href="@Url.Action("ListProducts", "Content")">Le sugerimos ir a la lista de contenidos.</a></h4>
	}
	else
	{
		<a href="@Url.Action("ListProducts", "Content")" class="btn"><i class="icon-angle-right"></i>&nbsp;Ir a catalogo</a>
		<!-- Table -->
		<div>
			<div style="width: 74%;display: inline-block;">
				<table class="table table-borderless table-hover">
					<thead>
						<tr>
							<th class="span1 text-center"><i class="icon-bolt"></i></th>
							<th class="text-center"><i class="icon-picture"></i></th>
							<th class="span6"><i class="icon-tag"></i>&nbsp;Contenido</th>
							<th class="span2">Editorial</th>
							<th class="span2">Estado</th>
							<th class="span1 text-center">Cant</th>
							<th class="text-right">Precio</th>
						</tr>
					</thead>
					<tbody>
						@Html.Partial("_listCartItems", Model)
					</tbody>
				</table>
			</div>
			<div class="pull-right"style="display: inline-block;height: 136px;vertical-align: top;width: 23%;">
				<a href="#modal-emptycart" data-toggle="modal" id="emptycart_link" class="btn btn-danger pull-right" title="Vaciar carrito" style="margin-bottom: 10px;"><i class="icon-remove"></i>&nbsp;Vaciar el carrito</a>
				<table class="table" style="margin: 0" >
					<tbody >
						<tr class="info" style="border-top-width: 4px;border-top-style: solid;border-top-color: lightgray;border-bottom-width: 4px;border-bottom-style: solid;border-bottom-color: lightgray;">
							<td class="span2 text-center" style="background-color: lightgray;">
								<span class="text-black"><b>Sub total</b></span>
							</td>
							<td class="span2 text-center" style="border-left-style: solid;border-left-width: 1px;border-left-color: black;background-color: lightgray;">
								<span class="text-black"><b>@Model.currency</b></span>
							</td>
							<td class="span3 text-right" style="border-left-style: solid;border-left-width: 1px;border-left-color: black;background-color: lightgray;">
								<span class="text-black" ><b>@ViewHelpers.SetQuantityOuput(Convert.ToDecimal(Model.Content.Sum(w => w.pricing.SubTotalAmount)))</b></span>
							</td>
						</tr>
						@if(Model.tax != null && Model.tax != 0)
						{
							<tr class="info" style="border-top-width: 4px;border-top-style: solid;border-top-color: lightgray;border-bottom-width: 4px;border-bottom-style: solid;border-bottom-color: lightgray;">
								<td class="span2 text-center" style="background-color: lightgray;">
									<span class="text-black"><b>Impuesto</b></span>
								</td>
								<td class="span2 text-center" style="border-left-style: solid;border-left-width: 1px;border-left-color: black;background-color: lightgray;">
									<span class="text-black"><b> @Model.currency </b></span>
								</td>
								<td class="span3 text-right" style="border-left-style: solid;border-left-width: 1px;border-left-color: black;background-color: lightgray;">
									<span class="text-black"><b>@ViewHelpers.SetQuantityOuput(Convert.ToDecimal(Model.Content.Sum(w => w.pricing.TaxAmount)))</b></span>
								</td>
							</tr>
						}
						<tr class="success" style="border-top-width: 4px;border-top-style: solid;border-top-color: gray;border-bottom-width: 4px;border-bottom-style: solid;border-bottom-color: gray;">
							<td class="span2 text-center" style="background-color: gray;">
								<span class="text-black"><b>Total</b></span>
							</td>
							<td class="span2 text-center" style="border-left-style: solid;border-left-width: 1px;border-left-color: black;background-color: gray;">
								<span class="text-black"><b>@Model.currency</b></span>
							</td>
							<td class="span3 text-right" style="border-left-style: solid;border-left-width: 1px;border-left-color: black;background-color: gray;">
								<span class="text-black"><b>@ViewHelpers.SetQuantityOuput(Convert.ToDecimal(Model.Content.Sum(w => w.pricing.FinalAmount)))</b></span>
							</td>
						</tr>
					</tbody>
				</table>
				<div class="clearfix" style="margin-top: 8px;">
					<div class="pull-right">
						<a href="#modal-checkout" data-toggle="modal" id="checkout_link" class="btn btn-success" title="Comprar" style="width: 113px;"><i class="icon-ok"></i>&nbsp;Comprar</a>
					</div>
				</div>
			</div>
		</div>
	}
}

<!-- Regular Modal -->
<div id="modal-emptycart" class="modal hide fade">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">X</button>
		<h4>Vaciar carrito</h4>
	</div>
	<div class="modal-body">
		<p>
			¿Está seguro que desea vaciar el carrito?
      <br />
			<i>Esto quitará a todos los contenidos del carrito</i>
		</p>
	</div>
	<div class="alert"><i class="glyphicon-warning_sign"></i>&nbsp;Esta acción es irreversible.</div>
	<div class="modal-footer">
		@using (Html.BeginForm("EmptyCart", "Cart", FormMethod.Post))
		{
			@Html.AntiForgeryToken()
			@Html.Hidden("idCart", Model.cartId)
			<button class="btn btn-danger" data-dismiss="modal">Cancelar</button>      
			<button type="submit" class="btn btn-success">Vaciar</button>
		}
	</div>
</div>
<!-- END Regular Modal -->

<!-- Regular Modal -->
<div id="modal-checkout" class="modal hide fade">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">X</button>
		<h4>Orden de compra</h4>
	</div>
	<div class="modal-body">
		<p>
			¿Está seguro que desea colocar la orden de compra por un total de <b>@Model.currency @ViewHelpers.SetQuantityOuput(Convert.ToDecimal(Model.Content.Sum(w => w.pricing.FinalAmount)))</b>?
      <br />
			<br />
			<i>Puede regresar y revisar la orden antes de confirmar</i>
		</p>
	</div>
	<div class="alert"><i class="glyphicon-warning_sign"></i>&nbsp;Esta acción es irreversible.</div>
	<div class="modal-footer">
		@using (Html.BeginForm("CheckoutConfirmed", "Cart", FormMethod.Post, new { id = "checkout_form"}))
  {
			@Html.AntiForgeryToken()
			@Html.Hidden("idCart", Model.cartId)
			<button class="btn btn-danger" data-dismiss="modal"><b>Volver</b></button>      
			<button type="submit" class="btn btn-success"><b>Confirmar</b></button>
  }
	</div>
</div>
<!-- END Regular Modal -->

@section Scripts {
	<script>

        // prevent mutiple click when submitting an order
	    $(function() { //shorthand document.ready function
	        $('#checkout_form').on('submit', function(e) { //use on if jQuery 1.7+
	            //e.preventDefault();  //prevent form from submitting
	            $("#checkout_form :button").unbind('click').attr('disabled', 'disabled');
	        });
	    });


    @*function to treat simple link as submit button*@
		$(function () {
			$('#emptycart_link').click(function () {
				$('form#EmptyCartForm').submit();
			});
		});

		function removeItem(idProduct, idCart) {

			$.ajax({
				type: 'POST',
				//url: 'RemoveFromCart',
				url: '@Url.Action("RemoveFromCart", "Cart")',
        data: { idProduct: idProduct, idCart: idCart },
        success: function (result) {
        	if (result.wasRemoved) {
        		//if there is no items left in the cart, redirect to the same page
        		if (result.cartListVm.numberItems == 0) {
        			var url = '@Url.Action("Index", "Cart", new { })';
            	var personId = @Convert.ToInt32(Model.person.Id);
            	window.location.href = url.replace('__id__', personId);
            }

          	//removes the row
			$("#itemrow-" + idProduct).fadeOut('slow');
          	//updates the cart info
			$('#cart-subtotal').text(result.cartListVm.currency + " " + result.cartListVm.subtotal);
			$('#cart-tax').text(result.cartListVm.currency + " " + result.cartListVm.tax);
			$('#cart-total').text(result.cartListVm.currency + " " + result.cartListVm.total);

          	//$("#alertMessage").removeData();
			$("#alertMessage").replaceWith(result.alertMessage);
		}
		else {
          	//shows the error message that was returned because
			$("#alertMessage").replaceWith(result.alertMessage);
		}

        	//DEPRECATED - to change specific attributes of the html
        	//$('#imagecart-26').attr('src', '/Images/DonQuijote.jpg');
        	//$('#imagecart-26').attr('title', 'Ya ha sido añadido al carrito.');
        },
      	error: function () {
      		alert("Ha ocurrido un error, contacte al administrador");
      	}
      });
}

	</script>
}